---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E6%84%9B%E7%9F%A5,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=1&ym=201705
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 11:40:03 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 87, "events": [{"event_url": "https://gcpug-nagoya.connpass.com/event/55745/",
        "event_type": "participation", "owner_nickname": "satoshi_miura", "series":
        {"url": "https://gcpug-nagoya.connpass.com/", "id": 2239, "title": "GCPUG
        Nagoya"}, "updated_at": "2017-04-26T00:23:05+09:00", "lat": "35.167520300000",
        "started_at": "2017-05-31T18:30:00+09:00", "hash_tag": "gcpug", "title": "GCPUG
        Nagoya #3", "event_id": 55745, "lon": "136.899390500000", "waiting": 3, "limit":
        21, "owner_id": 8746, "owner_display_name": "mursts", "description": "<h1>\u30a4\u30d9\u30f3\u30c8\u6982\u8981</h1>\n<p>GCPUG
        \u540d\u53e4\u5c4b\u652f\u90e8\u306e\u52c9\u5f37\u4f1a\u3067\u3059\u3002</p>\n<h1>\u30bb\u30c3\u30b7\u30e7\u30f3\u5185\u5bb9</h1>\n<h2>\u30bb\u30c3\u30b7\u30e7\u30f31
        GCP\u3067Web\u30b5\u30a4\u30c8\u3092\u516c\u958b\u3059\u308b</h2>\n<p>GCPUG
        Nagoya \u4e09\u6d66 \u667a</p>\n<p>GCE\u3001GCS\u3001GAE\u3092\u4f7f\u3063\u3066\u30b5\u30a4\u30c8\u3092\u516c\u958b\u3059\u308b\u8a71\u3092\u3057\u307e\u3059</p>\n<h2>\u30bb\u30c3\u30b7\u30e7\u30f32
        Cloud Spanner\u306b\u3064\u3044\u3066</h2>\n<p>\u30b0\u30fc\u30b0\u30eb\u5408\u540c\u4f1a\u793e
        Google Cloud \u30bd\u30ea\u30e5\u30fc\u30b7\u30e7\u30f3\u30fb\u30a2\u30fc\u30ad\u30c6\u30af\u30c8
        \u516b\u6728\u6a4b \u5fb9\u5e73\u3055\u3093</p>\n<h2>\u30bb\u30c3\u30b7\u30e7\u30f33
        Lightning Talk</h2>\n<p>GCP\u3067\u3053\u3093\u306a\u3053\u3068\u3084\u3063\u3066\u307f\u305f\u306a\u3069\u304a\u8a71\u3057\u3066\u3044\u305f\u3060\u3051\u308b\u65b9\u3092\u52df\u96c6\u4e2d</p>\n<h1>\u30bf\u30a4\u30e0\u30c6\u30fc\u30d6\u30eb</h1>\n<table>\n<thead>\n<tr>\n<th
        align=\"left\">\u6642\u9593</th>\n<th align=\"left\">\u5185\u5bb9</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td
        align=\"left\">18:30 - 19:00</td>\n<td align=\"left\">\u958b\u5834</td>\n</tr>\n<tr>\n<td
        align=\"left\">19:00 - 19:05</td>\n<td align=\"left\">\u958b\u59cb\u306e\u6328\u62f6</td>\n</tr>\n<tr>\n<td
        align=\"left\">19:05 - 19:35</td>\n<td align=\"left\">\u30bb\u30c3\u30b7\u30e7\u30f31</td>\n</tr>\n<tr>\n<td
        align=\"left\">19:40 - 20:10</td>\n<td align=\"left\">\u30bb\u30c3\u30b7\u30e7\u30f32</td>\n</tr>\n<tr>\n<td
        align=\"left\">20:15 - 20:45</td>\n<td align=\"left\">\u30bb\u30c3\u30b7\u30e7\u30f33</td>\n</tr>\n<tr>\n<td
        align=\"left\">20:45 - 21:00</td>\n<td align=\"left\">\u7de0\u3081\u30fb\u64a4\u53ce</td>\n</tr>\n</tbody>\n</table>\n<h1>\u305d\u306e\u4ed6</h1>\n<h2>\u61c7\u89aa\u4f1a</h2>\n<p>\u5e0c\u671b\u8005\u3067\u61c7\u89aa\u4f1a\u3092\u884c\u3046\u4e88\u5b9a\u3067\u3059</p>\n<h2>\u5199\u771f\u306b\u3064\u3044\u3066</h2>\n<p>\u30a4\u30d9\u30f3\u30c8\u306e\u98a8\u666f\u3084\u96c6\u5408\u5199\u771f\u3092\u64ae\u5f71\u3057\u307e\u3059\u306e\u3067\u3001\u3042\u3089\u304b\u3058\u3081\u3054\u4e86\u627f\u304f\u3060\u3055\u3044\u3002\n\u64ae\u5f71\u3057\u305f\u5199\u771f\u306fGCPUG\u306e\u30a4\u30d9\u30f3\u30c8\u30ec\u30dd\u30fc\u30c8\u306b\u4f7f\u7528\u3057\u307e\u3059\u3002</p>\n<p>\u64ae\u5f71\u304cNG\u306a\u65b9\u306f\u4e8b\u524d\u306b\u3054\u9023\u7d61\u3092\u304a\u9858\u3044\u3057\u307e\u3059\u3002</p>",
        "address": "\u611b\u77e5\u770c\u540d\u53e4\u5c4b\u5e02\u4e2d\u533a\u68042-2-23(\u30a2\u30fc\u30af\u767d\u5ddd\u516c\u5712\u30d3\u30eb\u30c7\u30a3\u30f3\u30b07F)",
        "catch": "", "accepted": 16, "ended_at": "2017-05-31T21:00:00+09:00", "place":
        "MYCAFE\u4f0f\u898b\u672c\u5e97"}, {"event_url": "https://connpass.com/event/55306/",
        "event_type": "participation", "owner_nickname": "itoc", "series": null, "updated_at":
        "2017-04-24T11:25:42+09:00", "lat": "35.469340500000", "started_at": "2017-05-29T13:30:00+09:00",
        "hash_tag": "", "title": "\u30105/29\u958b\u50ac\u3011\u4eba\u5de5\u77e5\u80fd\u5165\u9580\u30bb\u30df\u30ca\u30fc\u300c\u4eba\u5de5\u77e5\u80fd\uff13\u5206\u30af\u30c3\u30ad\u30f3\u30b0\u300d",
 [...]
- request:
    method: get
    uri: https://api.doorkeeper.jp/events/?page=0&q=%E6%84%9B%E7%9F%A5%7C%E4%B8%AD%E9%83%A8%7C%E6%9D%B1%E6%B5%B7%7C%E5%90%8D%E5%8F%A4%E5%B1%8B%7C%E8%B1%8A%E6%A9%8B%7C%E8%B1%8A%E7%94%B0%7C%E5%B2%A1%E5%B4%8E%7C%E4%B8%80%E5%AE%AE%7C%E6%98%A5%E6%97%A5%E4%BA%95%7C%E5%AE%89%E5%9F%8E%7C%E8%B1%8A%E5%B7%9D%7C%E8%A5%BF%E5%B0%BE%7C%E5%88%88%E8%B0%B7%7C%E5%B0%8F%E7%89%A7%7C%E7%A8%B2%E6%B2%A2%7C%E5%8D%8A%E7%94%B0%7C%E7%80%AC%E6%88%B8%7C%E6%9D%B1%E6%B5%B7%7C%E6%97%A5%E9%80%B2%7C%E5%A4%A7%E5%BA%9C%7C%E6%B1%9F%E5%8D%97%7C%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B%7C%E5%B0%BE%E5%BC%B5%E6%97%AD%7C%E3%81%82%E3%81%BE%7C%E7%9F%A5%E5%A4%9A%7C%E7%9F%A5%E7%AB%8B%7C%E8%92%B2%E9%83%A1%7C%E3%81%BF%E3%82%88%E3%81%97%7C%E7%8A%AC%E5%B1%B1%7C%E7%A2%A7%E5%8D%97%7C%E6%B8%85%E9%A0%88%7C%E8%B1%8A%E6%98%8E%7C%E9%95%B7%E4%B9%85%E6%89%8B%7C%E6%B4%A5%E5%B3%B6%7C%E7%94%B0%E5%8E%9F%7C%E6%84%9B%E8%A5%BF%7C%E9%AB%98%E6%B5%9C%7C%E5%B8%B8%E6%BB%91%7C%E6%9D%B1%E6%B5%A6%7C%E6%9D%B1%E9%83%B7%7C%E5%B9%B8%E7%94%B0%7C%E6%AD%A6%E8%B1%8A%7C%E5%B2%A9%E5%80%89%7C%E5%BC%A5%E5%AF%8C%7C%E6%96%B0%E5%9F%8E%7C%E6%89%B6%E6%A1%91%7C%E5%A4%A7%E6%B2%BB%7C%E8%9F%B9%E6%B1%9F%7C%E9%98%BF%E4%B9%85%E6%AF%94%7C%E5%A4%A7%E5%8F%A3%7C%E7%BE%8E%E6%B5%9C%7C%E8%B1%8A%E5%B1%B1%7C%E5%8D%97%E7%9F%A5%E5%A4%9A%7C%E9%A3%9B%E5%B3%B6%7C%E8%A8%AD%E6%A5%BD%7C%E6%9D%B1%E6%A0%84%7C%E8%B1%8A%E6%A0%B9&since=20170501000000&sort=starts_at&until=20170531235959
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a84d400d97195db41b99d584f4f8e342"
      X-Ratelimit:
      - '{"name":"authenticated API","period":300,"limit":300,"remaining":299,"until":"2017-05-07T11:45:00Z"}'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        W3siZXZlbnQiOnsidGl0bGUiOiLnrKwzN+WbniBjb25jcmV0ZTUg44Gu5pelIiwiaWQiOjU5NDQxLCJzdGFydHNfYXQiOiIyMDE3LTA1LTAxVDAxOjAwOjAwLjAwMFoiLCJlbmRzX2F0IjoiMjAxNy0wNS0wMVQxMDowMDowMC4wMDBaIiwidmVudWVfbmFtZSI6IuODmeODvOOCueOCreODo+ODs+ODl+WQjeWPpOWxiyIsImFkZHJlc3MiOiLmhJvnn6XnnIzlkI3lj6TlsYvluILkuK3mnZHljLrlkI3pp4Uz5LiB55uuMTgtNSDjg6Ljg7Pjg57jg7zjg4jjg5Pjg6s16ZqOIiwibGF0IjoiMzUuMTcyNzc1NSIsImxvbmciOiIxMzYuODg3NDkxN[...]
[...]
