---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E5%90%8D%E5%8F%A4%E5%B1%8B&order=2&start=1&ym=201611
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 11:30:53 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 100, "events": [{"event_url": "https://pmijc.connpass.com/event/43479/",
        "event_type": "participation", "owner_nickname": "pmijc", "series": {"url":
        "https://pmijc.connpass.com/", "id": 2088, "title": "PMI\u65e5\u672c\u652f\u90e8
        \u4e2d\u90e8\u30d6\u30e9\u30f3\u30c1"}, "updated_at": "2017-03-17T07:51:00+09:00",
        "lat": "35.171571200000", "started_at": "2016-11-30T19:00:00+09:00", "hash_tag":
        "PMI\u65e5\u672c\u652f\u90e8", "title": "\u3010PMIJ\u4e2d\u90e811\u6708\u5ea6PM\u30b5\u30ed\u30f3\u3011\u300e\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u30de\u30cd\u30b8\u30e1\u30f3\u30c8\u306e\u5168\u4f53\u50cf\u3068\u30b7\u30b9\u30c6\u30e0\u601d\u8003\u300f",
        "event_id": 43479, "lon": "136.910948100000", "waiting": 0, "limit": 40, "owner_id":
        82592, "owner_display_name": "PMIJ\u4e2d\u90e8\u30d6\u30e9\u30f3\u30c1", "description":
        "<p>2016/11/30(\u6c34)19:00\uff5e\u306ePMIJ\u4e2d\u90e8\u3001PM\u30b5\u30ed\u30f3\u306e\u304a\u77e5\u3089\u305b\u3067\u3059\u3002
        \n<br></p>\n<h2>\u300e\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u30de\u30cd\u30b8\u30e1\u30f3\u30c8\u306e\u5168\u4f53\u50cf\u3068\u30b7\u30b9\u30c6\u30e0\u601d\u8003\u300f</h2>\n<h4>1.\u6982\u8981</h4>\n<p>\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306b\u30b7\u30b9\u30c6\u30e0\u601d\u8003\u3092\u53d6\u308a\u5165\u308c\u307e\u3057\u3087\u3046\u3002\n<br>\n<br>\n\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306e\u554f\u984c\u89e3\u6c7a\u306b\u306f\u3001\u308f\u306a\u304c\u6f5c\u3093\u3067\u3044\u307e\u3059\u3002\n<br>\n\u4f8b\u3048\u3070\u3001\u9032\u6357\u4f1a\u8b70\u3067\u3001\u300c\u5927\u5e45\u306a\u9032\u6357\u306e\u9045\u5ef6\u3092\u3001\u77ed\u671f\u9593\u3067\u633d\u56de\u3055\u30[...]
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E5%90%8D%E5%8F%A4%E5%B1%8B&order=2&start=101&ym=201611
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 11:30:54 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 9, "events": [{"event_url": "https://scratchdojo-tempaku.connpass.com/event/39407/",
        "event_type": "participation", "owner_nickname": "FumioMatsunari", "series":
        {"url": "https://scratchdojo-tempaku.connpass.com/", "id": 2462, "title":
        "ScratchDojoTempaku"}, "updated_at": "2016-10-09T08:53:25+09:00", "lat": "35.118625000000",
        "started_at": "2016-10-08T13:30:00+09:00", "hash_tag": "Scratch\u3001Kids",
        "title": "ScratchDojo:2016-10-08", "event_id": 39407, "lon": "136.987570400000",
        "waiting": 0, "limit": 8, "owner_id": 71368, "owner_display_name": "\u677e\u6210\u3000\u6587\u592b",
        "description": "<h3>\u958b\u50ac\u5834\u6240\uff1a\u5929\u767d\u533a\u751f\u6daf\u5b66\u7fd2\u30bb\u30f3\u30bf\u30fc\uff12F\u3000IT\u8b1b\u7fd2\u5ba4</h3>\n<h3>\u958b\u50ac\u6642\u9593\uff1a2016\u5e7410\u670808\u65e5
        13:30\uff5e15\uff1a30</h3>\n<p>\u539f\u5247\u3001\u30b9\u30af\u30e9\u30c3\u30c1\u3092\u4f7f\u3063\u3066\u3001\u81ea\u4e3b\u7684\u306b\u52c9\u5f37\u3001\u4f5c\u54c1\u4f5c\u6210\u3092\u3059\u308b\u306e\u3092\u304a\u624b\u4f1d\u3044\u3057\u307e\u3059\u3002\u6700\u8fd1\u3001\u3044\u308d\u3044\u308d[...]
