---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E6%84%9B%E7%9F%A5,%E5%90%8D%E5%8F%A4%E5%B1%8B&order=2&start=1&ym=201702
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sun, 11 Jun 2017 13:41:40 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 100, "events": [{"event_url": "https://cocomue.connpass.com/event/50507/",
        "event_type": "advertisement", "owner_nickname": "katzueno", "series": {"url":
        "https://cocomue.connpass.com/", "id": 3471, "title": "Cocomue"}, "updated_at":
        "2017-02-28T09:13:57+09:00", "lat": "35.116847200000", "started_at": "2017-02-28T16:00:00+09:00",
        "hash_tag": "", "title": "\u3088\u307f\u304b\u304d\u306e\u524d\u306b\u30d7\u30ed\u30b0\u30e9\u30df\u30f3\u30b0\uff01\u5e7c\u5150\u5411\u3051\u7121\u6599\u4f53\u9a13\u6559\u5ba4
        #3", "event_id": 50507, "lon": "136.928231100000", "waiting": 0, "limit":
        6, "owner_id": 28178, "owner_display_name": "Katz Ueno", "description": "<h2>\u30c6\u30fc\u30de</h2>\n<p>\u30d1\u30bd\u30b3\u30f3\u304c\u3044\u3089\u306a\u3044\uff01\u6559\u80b2\u73a9\u5177\u3060\u3051\u3092\u4f7f\u3063\u305f\u30014\u624d\u304b\u3089\u306f\u3058\u3081\u3089\u308c\u308b\u30d7\u30ed\u30b0\u30e9\u30df\u30f3\u30b0\u6559\u5ba4\u306e\u7121\u6599\u4f53\u9a13\u4f1a\u3092\u304a\u3053\u306a\u3044\u307e\u3059</p>\n<h2>\u65e5\u6642</h2>\n<ul>\n<li>2/14
        (\u706b) 16:00\u301c17:00 (15:30 \u958b\u5834)</li>\n<li>2/21 (\u706b) 16:00\u301c17:00
        (15:30 \u958b\u5834)</li>\n<li>2/28 (\u706b) 16:00\u301c17:00 (15:30 \u958b\u5834)</li>\n</ul>\n<p>\u203b
        3\u56de\u3068\u3082\u540c\u3058\u5185\u5bb9\u306e\u4e88\u5b9a\u3067\u3059\u3002</p>\n<h2>\u6982\u8981</h2>\n<table>\n<thead>\n<tr>\n<th>\u6982\u8981</th>\n<th>\u5185\u5bb9</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td><strong>\u5b9a\u54e1</strong></td>\n<td>\u5404\u30af\u30e9\u30b9
        6\u540d</td>\n</tr>\n<tr>\n<td><strong>\u5bfe\u8c61</strong></td>\n<td>4\u624d\u301c6\u624d\u306e\u672a\u5c31\u5b66\u5150\u306e\u5150\u7ae5</td>\n</tr>\n<tr>\n<td><strong>\u6599\u91d1</strong></td>\n<td>\u7121\u6599
        (\u53d7\u8b1b\u6642\u306e\u5199\u771f\u64ae\u5f71\u306e\u627f\u8afe\u3084\u3001\u30a2\u30f3\u30b1\u30fc\u30c8\u306b\u304a\u7b54\u3048\u3044\u305f\u3060\u304d\u307e\u3059)</td>\n</tr>\n<tr>\n<td><strong>\u6301\u7[...]
[...]
