---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&order=2&series_id=3740&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sat, 01 Jul 2017 22:56:36 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 3, "events": [{"event_url": "https://msp-nkc.connpass.com/event/61174/",
        "event_type": "participation", "owner_nickname": "merou_76", "series": {"url":
        "https://msp-nkc.connpass.com/", "id": 3740, "title": "NKC-UG \u540d\u53e4\u5c4b"},
        "updated_at": "2017-07-01T14:42:27+09:00", "lat": "35.120212900000", "started_at":
        "2017-07-14T15:30:00+09:00", "hash_tag": "mspjp #cogbot #nkcug", "title":
        "\u3010NKC\u751f\u9650\u5b9a\u3011\u540d\u53e4\u5c4b\u3067\u59cb\u3081\u308bAI
        \u3092\u4f7f\u3044\u3053\u306a\u305b\uff01 Cognitive Services \u52c9\u5f37\u4f1a\uff01",
        "event_id": 61174, "lon": "136.912143700000", "waiting": 0, "limit": 24, "owner_id":
        74649, "owner_display_name": "\u307e\u308b\u3061\u3083\u3093", "description":
        "<p>\u8a8d\u77e5\u6a5f\u80fd\u3092 Web API \u7d4c\u7531\u3067\u5229\u7528\u3067\u304d\u308b
        \u201c\u4eba\u5de5\u77e5\u80fd\u30d1\u30fc\u30c4\u201d \u3067\u3042\u308b
        Cognitive Services \u306b\u3064\u3044\u3066\u306e\u52c9\u5f37\u4f1a\u3067\u3059\u3002</p>\n<p>\u25a0
        Cognitive Services \u3068\u306f</p>\n<p>Microsoft Cognitive Services \u306f
        \u753b\u50cf\u3001\u6587\u7ae0\u3001\u8a00\u8a9e\u3001\u60c5\u5831\u3092\u51e6\u7406\u3059\u308b\u6a5f\u80fd\u3092
        API \u7d4c\u7531\u3067\u5229\u7528\u3067\u304d\u308b\u30b5\u30fc\u30d3\u30b9\u3067\u3059\u3002\nCognitive
        Services \u306e\u4e00\u3064\u3067\u3042\u308b Emotion API \u3067\u306f\u3001\u753b\u50cf\u3092\u5206\u6790\u3057\u3066\u4eba\u9593\u306e\u9854\u3084\u305d\u306e\u8868\u60c5\u3092\u6570\u5024\u5316\u3057\u3001\u7d50\u679c\u3092
        JSON \u5f62\u5f0f\u3067\u53d6\u5f97\u3059\u308b\u3053\u3068\u304c\u3067\u304d\u307e\u3059\u3002</p>\n<p>\u672c\u52c9\u5f37\u4f1a\u306f\u3001
        \u300cMicrosoft Student Partners\u300d \u3068 \u300cNKC-UG\u300d\u304c\u5171\u50ac\u3057\u3066\u958b\u50ac\u3057\u307e\u3059\u3002</p>\n<ul>\n<li>Microsoft
        Student Partners \u540d\u53e4\u5c4b\u30ad\u30e3\u30f3\u30d1\u30b9\u62c5\u5f53
        \u6280\u8853\u30a4\u30f3\u30d5\u30eb\u30a8\u30f3\u30b5\u30fc \u4e38\u5c4b
        \u6b63\u5fd7(\u307e\u308b\u3061\u3083\u3093)\u304c\u767b\u58c7\u30fb\u30cf\u30f3\u30ba\u30aa\u30f3\u306e\u8b1b\u5e2b\u3092\u3057\u307e\u3059\uff0e</li>\n</ul>\n<p>\u25a0
        \u3053\u306e\u52c9\u5f37\u4f1a\u306b\u53c2\u52a0\u3057\u3066\u5f97\u3089\u308c\u308b\u3082\u306e</p>\n<ul>\n<li>Cognitive
        Servic[...]
