// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shadow {
  margin-top: 5px; /* 画像の上の余白*/
  display: inline-block;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8); /*横方向　下方向　ぼかし　広がり　色 */
  border-radius: 15px;
}

hr {
  border: 0;
  margin: 20px 0;
}

.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #A1A1A1 35%, #A1A1A1 65%, transparent);
}

img.owner-icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #FA7484 solid;
  margin-right: 2px;
  margin-bottom: 2px;
}

.clickable > img.owner-icon:hover {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #8EC6FF solid;
  cursor: pointer;
}

img.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 1px #AAAAAA solid;
  margin-right: 2px;
  margin-bottom: 2px;
}

.clickable > img.user-icon:hover {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #8EC6FF solid;
  cursor: pointer;
}

img.twitter-icon {
  width: 36px;
  height: 36px;
  margin-right: 2px;
  margin-bottom: 2px;
}

/* ------------------------------
　　ヘッダー
------------------------------ */
.header {
  width: 100%;
  margin-top: 20px;
}

.site-name {
	font-size: 30px;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.header-logo {
  white-space: nowrap;
  padding: 0 20px;
}

.header-logo__svg {
  max-width: 250px;
  fill: $grey-900;
}

@include media($tablet) {
  .header {
    text-align: center;
  }
}

/* ------------------------------
　　イベント
------------------------------ */
.event {
}

.event-left {
}

.event-right {
  padding-left: 20px;
}

.event-user {
  background-color: #EEEEEE;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.day {
  text-align: center;
}

.event-logo {
  width: 150px;
  margin-top: 10px;
  border: 1px #dddddd solid;
  border-radius: 10px;
}

.frame {
  display: inline-block;
  position: relative;
}

.frame:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow:
  inset 0 0 20px #fff /* 背景色と同じ色 */,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff,
  inset 0 0 20px #fff;
}

.event-place {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    line-height: 1.3em;
  }
}

.event-address {
  display:none
}

.event-title {
  margin-top: 10px;
  vertical-align: top;
}

.group-logo {
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px #dddddd solid;
  border-radius: 10px;
}

.group-logo-small {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 1px #AAAAAA solid;
}

.event-detail {
  color: #888888;
  padding-top: 10px;
  max-height: 70px;
  overflow: hidden;
  margin-bottom: 20px;
}

.user-limit {
  text-align: right;
}

.user-limit p {
  display: inline;
}

.user-title {
  border-bottom: 1px dashed #ccc;
}

@include media($ipad-pro) {
  .day {
    font-size: 23px;
  }

  .event-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
  }

  .event-right {
    padding: 0
  }

  .event-title {
    font-size: 18px;
    width: 100%;
    small {
      display: block;
      font-size: 14px;
      margin-top: 10px;
      text-align: left;
    }
  }

  .event-place {
    font-size: 12px;
    margin-left: 15px;
  }
  .event-detail {
    font-size: 14px;
  }
}

@include media($mobile) {
  .event-left {
    width: 100%;
  }

  .event-right {
    width: 100%;
  }
}

/* ------------------------------
　　フッター
------------------------------ */
.footer {
	padding: 20px 0;
	color: #FFF;
	background: #333;
}
