table {
  border-collapse: collapse;
  border: 2px solid green; /* 外側の枠線 */
}
th, tr {
  border-bottom: 1px #000000 solid;
  padding: 10px;
}
td {
  border-width: 1px 0px; /* 上下だけ引く */
  border-color: green;   /* 線色：緑 */
  border-style: solid;   /* 線種：実線 */
  padding: 0.3em;        /* セル内側の余白 */
  vertical-align: top; /* 上詰め */
}
h1 {
  color: black;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
table {
  border: 1px #000000 solid;
  border-color: white;
}
p {
  text-align:center;
}
.thumbnail img {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
.shadow {
    margin-top: 5px; /* 画像の上の余白*/
    display: inline-block; 
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8); /*横方向　下方向　ぼかし　広がり　色 */
}