@charset "UTF-8";
/* line 5, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.shadow {
  margin-top: 5px;
  /* 画像の上の余白*/
  display: inline-block;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
  /*横方向　下方向　ぼかし　広がり　色 */
  border-radius: 15px;
}

/* line 12, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
hr.wave {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
}

/* line 18, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
hr.style-three {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 26, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
hr.style-two {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
}

/* line 35, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
img.owner-icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #FA7484 solid;
  margin-right: 2px;
  margin-bottom: 2px;
}

/* line 44, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.clickable > img.owner-icon:hover {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #8EC6FF solid;
  cursor: pointer;
}

/* line 52, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
img.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 1px #AAAAAA solid;
  margin-right: 2px;
  margin-bottom: 2px;
}

/* line 61, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.clickable > img.user-icon:hover {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #8EC6FF solid;
  cursor: pointer;
}

/* line 69, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
img.twitter-icon {
  width: 36px;
  height: 36px;
  margin-right: 2px;
  margin-bottom: 2px;
}

/* ------------------------------
　　ベース
------------------------------ */
/* line 79, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
body {
  color: #333;
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,sans-serif;
  font-size: 16px;
  background: #FFF;
  border-top: 10px solid #FFFFFF;
  border-bottom: 10px solid #FFFFFF;
}

/* ------------------------------
　　ヘッダー
------------------------------ */
/* line 91, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.header {
  padding: 30px 0;
}

/* line 95, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.site-name {
  font-size: 30px;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* ------------------------------
　　イベント
------------------------------ */
/* line 112, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.event-right {
  padding-left: 20px;
}

/* line 116, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.event-user {
  background-color: #EEEEEE;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 124, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.day {
  text-align: center;
}

/* line 128, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.event-logo {
  width: 150px;
  margin-top: 10px;
  border: 1px #dddddd solid;
  border-radius: 10px;
}

/* line 135, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.frame {
  display: inline-block;
  position: relative;
}

/* line 140, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.frame:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: inset 0 0 20px #fff, inset 0 0 20px #fff, inset 0 0 20px #fff, inset 0 0 20px #fff;
}

/* line 156, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.event-place {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 161, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.event-address {
  display: none;
}

/* line 165, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.event-title {
  margin-top: 10px;
  vertical-align: top;
}

/* line 170, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.group-logo {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 1px #AAAAAA solid;
}

/* line 177, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.event-detail {
  color: #888888;
  padding-top: 10px;
  max-height: 70px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 185, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.user-limit {
  text-align: right;
}

/* line 189, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.user-limit p {
  display: inline;
}

/* line 193, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.user-title {
  border-bottom: 1px dashed #ccc;
}

/* ------------------------------
　　フッター
------------------------------ */
/* line 200, /Users/shule/Documents/nagoya-benkyokai/app/assets/stylesheets/events.scss */
.footer {
  padding: 20px 0;
  color: #FFF;
  background: #333;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

