---
http_interactions:
- request:
    method: get
    uri: https://api.doorkeeper.jp/events/47375
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit:
      - '{"name":"authenticated API","period":300,"limit":300,"remaining":288,"until":"2017-06-11T13:45:00Z"}'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Jun 2017 13:42:21 GMT
recorded_with: VCR 3.0.3
