---
http_interactions:
- request:
    method: get
    uri: https://api.doorkeeper.jp/events/47375
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer j8VF7a1-cq5q66ziHW-k
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit:
      - '{"name":"authenticated API","period":300,"limit":300,"remaining":298,"until":"2017-06-09T12:00:00Z"}'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Jun 2017 11:55:04 GMT
recorded_with: VCR 3.0.3
