---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&event_id=55925&order=2&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sun, 21 May 2017 06:17:24 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 1, "events": [{"event_url": "https://connpass.com/event/55925/",
        "event_type": "participation", "owner_nickname": "t6s", "series": null, "updated_at":
        "2017-04-24T01:12:36+09:00", "lat": "35.174358500000", "started_at": "2017-05-11T18:30:00+09:00",
        "hash_tag": "\u5de8\u5927\u57fa\u6570\u52c9\u5f37\u4f1a", "title": "\u907a\u4f1d\u7684\u6709\u9650\u96c6\u5408\u52c9\u5f37\u4f1a
        7", "event_id": 55925, "lon": "136.882490900000", "waiting": 0, "limit": null,
        "owner_id": 6542, "owner_display_name": "t6s", "description": "<h5>\u6982\u8981</h5>\n<p>HF\u3068\u6709\u9650\u306e\u4e16\u754c\u3092\u52c9\u5f37\u3057\u307e\u3057\u3087\u3046\u3002\n\u7b2c7\u56de\u306f[1]\u306eIV.5.9\u3001\u7b2c\u4e00\u4e0d\u5b8c\u5168\u6027\u5b9a\u7406\u306e\u3042\u305f\u308a\u3092\u8aad\u307f\u307e\u3059.</p>\n<p>\u4e88\u7fd2\u4e0d\u8981</p>\n<hr>\n<h5>\u8a08\u753b</h5>\n<div
        class=\"codehilite\"><pre><span class=\"n\">I</span><span class=\"err\">\u7ae0</span>\n<span
        class=\"n\">p</span><span class=\"mf\">.107</span> <span class=\"n\">HF</span><span
        class=\"err\">\u306e\u5b9a\u7fa9</span>\n<span class=\"n\">p</span><span class=\"mf\">.119</span>
        <span class=\"err\">\u30c7\u30fc\u30bf\u69cb\u9020\u306e\u4f8b</span>\n\n<span
        class=\"n\">II</span><span class=\"err\">\u7ae0</span>\n<span class=\"n\">II</span><span
        class=\"mf\">.17</span> <span class=\"err\">\u039[...]
