---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&event_id=55649&order=2&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sun, 21 May 2017 06:17:24 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 1, "events": [{"event_url": "https://machine-learning.connpass.com/event/55649/",
        "event_type": "participation", "owner_nickname": "kmiwa", "series": {"url":
        "https://machine-learning.connpass.com/", "id": 1474, "title": "\u6a5f\u68b0\u5b66\u7fd2\u3000\u540d\u53e4\u5c4b"},
        "updated_at": "2017-05-19T11:16:02+09:00", "lat": "35.176018600000", "started_at":
        "2017-05-12T18:45:00+09:00", "hash_tag": "\u6a5f\u68b0\u5b66\u7fd2\u540d\u53e4\u5c4b",
        "title": "\u6a5f\u68b0\u5b66\u7fd2 \u540d\u53e4\u5c4b \u5206\u79d1\u4f1a #2",
        "event_id": 55649, "lon": "136.885530600000", "waiting": 0, "limit": 51, "owner_id":
        45777, "owner_display_name": "Hiro Miwa", "description": "<h1>\u6a5f\u68b0\u5b66\u7fd2
        \u540d\u53e4\u5c4b \u5206\u79d1\u4f1a</h1>\n<p><a href=\"https://machine-learning.connpass.com/\"
        rel=\"nofollow\">\u6a5f\u68b0\u5b66\u7fd2\u540d\u53e4\u5c4b</a> \u52c9\u5f37\u4f1a\u306e\u5206\u79d1\u4f1a\u3067\u3059\u3002<br>\n\u3053\u306e\u5206\u79d1\u4f1a\u3067\u306f\u3001\u3088\u308a\u7406\u8ad6\u30fb\u5b9f\u88c5\u306b\u91cd\u304d\u3092\u7f6e\u3044\u305f\u52c9\u5f37\u3092\u3057\u3066\u3044\u304d\u307e\u3059\u3002  </p>\n<ul>\n<li><strong>\u6a5f\u68b0\u5b66\u7fd2\u30a8\u30f3\u30b8\u30cb\u30a2</strong>
        \u3068\u3057\u3066\u4ed5\u4e8b\u3092\u3057\u3066\u3044\u308b/\u4ed5\u4e8b\u3092\u3057\u305f\u3044\u4eba</li>\n<li>\u6a5f\u68b0\u5b66\u7fd2\uff08Deep
        Learning\uff09\u306e <strong>\u7406\u8ad6\u3092\u77e5\u308a\u305f\u3044</strong>
        \u4eba</li>\n</ul>\n<p>\u305c\u3072\u3001\u3054\u53c2\u52a0\u304f\u3060\u3055\u3044\u3002</p>\n<p>\uff08\u6700\u65b0\u52d5\u5411\u30fb\u5b9f\u8df5\u7b49\u306f\u3001\u901a\u5e38\u4f1a\uff08\u6b21\u56de\uff1a<a
        href=\"https://machine-learning.connpass.com/event/53613/\" rel=\"nofollow\">\u7b2c10\u56de</a>\uff09\u3067\u6271\u3044\u307e\u3059\uff09</p>\n<h2>\u53c2\u52a0\u67a0\u306b\u3064\u3044\u3066</h2>\n<p>\u73fe\u5728\u3001\u300c\u4e00\u822c\u53c2\u52a0\u300d\u300c\u30b5\u30c6\u30e9\u30a4\u30c81\u300d\u300c\u30b5\u30c6\u30e9\u30a4\u30c82\u300d\u306e3\u3064\u306e\u53c2\u52a0\u67a0\u304c\u5b58\u5728\u3057\u307e\u3059\u3002</p>\n<ul>\n<li>\u3069\u3061\u3089\u3082\u4f1a\u5834\u306f\u540c\u3058\u30d3\u30eb\u306e\u540c\u3058\u30d5\u30ed\u30a2\uff08\u5225\u4f1a\u8b70\u5ba4\uff09\u3067\u3059\u3002</li>\n<li>\u53f8\u4f1a\u9032\u884c\u306f\u3001\u5927\u4f[...]
