---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E7%AC%AC5%E5%9B%9E%20JPSPS&order=2&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 11:31:59 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 1, "events": [{"event_url": "https://jpsps-ngy.connpass.com/event/47375/",
        "event_type": "participation", "owner_nickname": "SinyaSakakibara", "series":
        {"url": "https://jpsps-ngy.connpass.com/", "id": 3254, "title": "JPSPS \u540d\u53e4\u5c4b\u5206\u79d1\u52c9\u5f37\u4f1a"},
        "updated_at": "2017-01-30T18:17:19+09:00", "lat": "35.170234500000", "started_at":
        "2017-01-30T19:30:00+09:00", "hash_tag": "JPSPS #JPSPSNGY", "title": "\u7b2c5\u56de
        JPSPS SharePoint/Office365\u540d\u53e4\u5c4b\u5206\u79d1\u52c9\u5f37\u4f1a
        at GeekBar", "event_id": 47375, "lon": "136.922718900000", "waiting": 0, "limit":
        30, "owner_id": 34130, "owner_display_name": "\u698a\u539f\u4f38\u4e5f", "description":
        "<p>\u301c\u540d\u53e4\u5c4b\u30fb\u6771\u6d77\u306eSharePoint/Office365\u3092\u3082\u3063\u3068\u76db\u308a\u4e0a\u3052\u305f\u3044\ufe15\u301c\n\u7686\u69d8\u306e\u304a\u304b\u3052\u3067\u3001\u7b2c\u4e94\u56de\u3001\u4e00\u5468\u5e74\u3092\u8fce\u3048\u308b\u3053\u3068\u304c\u3067\u304d\u307e\u3057\u305f\u3002\nSharePoint\u3082Office365\u306e\u30a2\u30c3\u30d7\u30b0\u30ec\u30fc\u30c9\u3068\u3068\u3082\u306b\u8db3\u65e9\u306b\u6539\u826f\u3092\u91cd\u306d\u3066\u304d\u3066\u304a\u308a[...]
