---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&event_id=30152&order=2&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Mon, 22 May 2017 15:54:09 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 1, "events": [{"event_url": "https://jxug.connpass.com/event/30152/",
        "event_type": "participation", "owner_nickname": "ytabuchi", "series": {"url":
        "https://jxug.connpass.com/", "id": 1134, "title": "JXUG"}, "updated_at":
        "2016-05-12T15:27:59+09:00", "lat": "35.126704400000", "started_at": "2016-05-15T13:00:00+09:00",
        "hash_tag": "JXUG", "title": "JXUGC #14 Xamarin \u30cf\u30f3\u30ba\u30aa\u30f3
        \u540d\u53e4\u5c4b\u5927\u4f1a", "event_id": 30152, "lon": "136.899578500000",
        "waiting": 0, "limit": 38, "owner_id": 22578, "owner_display_name": "\u7530\u6df5\u7fa9\u4eba@\u30a8\u30af\u30bb\u30eb\u30bd\u30d5\u30c8",
        "description": "<p>\u3053\u3093\u306b\u3061\u306f\u3002\u30a8\u30af\u30bb\u30eb\u30bd\u30d5\u30c8\u306e\u7530\u6df5\u3067\u3059\u3002</p>\n<p>\u4eca\u8a71\u984c\u306e
        Xamarin \u3092\u540d\u53e4\u5c4b\u3067\u3082\u89e6\u3063\u3066\u307f\u307e\u3057\u3087\u3046\uff01Xamarin
        \u30cd\u30a4\u30c6\u30a3\u30d6\u3001Xamarin.Forms \u3067\u30b7\u30f3\u30d7\u30eb\u306a\u30a2\u30d7\u30ea\u3092\u4f5c\u6210\u3059\u308b\u3053\u3068\u3067\u3001Xamarin
        \u306e\u57fa\u790e\u3092\u5b66\u3073\u307e\u3059\u3002\u30a2\u30d7\u30ea\u4f5c\u6210\u306b\u5fc5\u8981\u306a\u6982\u5ff5\u306a\u3069\u306f\u7530\u6df5\u3092\u542b\u3081\u30b9\u30bf\u30c3\u30d5\u306e\u7686\u3055\u3093\u304c\u4e01\u5be7\u306b\u304a\u6559\u3048\u3057\u307e\u3059\u3002\u30b5\u30dd\u30fc\u30c8\u30b9\u30bf\u30c3\u30d5\u6ca2\u5c71\u3067\u805e\u304d\u3084\u3059\u3044\u74b0\u5883\u3067\u3059\u3002</p>\n<h3>\u5834\u6240</h3>\n<p>\u71b1\u7530\u751f\u6daf\u5b66\u7fd2\u30bb\u30f3\u30bf\u30fc
        \u7b2c\u4e8c\u96c6\u4f1a\u5ba4</p>\n<h3>\u5bfe\u8c61\u8005</h3>\n<ul>\n<li>Xamarin
        \u3092\u89e6\u3063\u3066\u307f\u305f\u3044\u65b9</li>\n<li>C# \u306f\u5206\u304b\u308b\u3051\u3069\u30e2\u30d0\u30a4\u30eb\u306f\u3084\u3063\u305f\u3053\u3068\u306a\u3044\u3068\u3044\u3046\u65b9</li>\n</ul>\n<h4>\u5fc5\u8981\u306a\u30b9\u30ad\u30eb\u30ec\u30d9\u30eb</h4>\n<p>\u57fa\u672c\u7684\u306a
        C# \u306e\u77e5\u8b58</p>\n<h3>\u53c2\u52a0\u6761\u4ef6</h3>\n<p>\u4ee5\u4e0b\u306e\u3069\u3061\u3089\u304b\u3092\u3054\u6301\u53c2\u304f\u3060\u3055\u3044\u3002</p>\n<ul>\n<li>Visual
        Studio \u3068 Xamarin for Visual Studio\uff08\u62e1\u5f35\u6a5f\u80fd\uff09\u304c\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3055\u308c\u305f
        Windows \u30de\u30b7\u30f3</li>\n<li>Xamarin Studio \u304c\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3055\u308c\u305f
        Mac \u30de\u30b7\u30f3</li>\n</ul>\n<h3>\u4e8b\u524d\u6e96\u5099\u306e\u304a\u9858\u3044</h3>\n<p>\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3001Emulator/Simulator
        \u306e\u6e96\u5099\u306a\u3069\u306e\u4e8b\u524d\u6e96\u5099\u624b\u9806\u66f8\u306f
        <a href=\"https://github.com/ytabuchi/XamarinHOL/blob/master/XamarinHandsOn_Prepare_JXUG.pdf\"
        rel=\"nofollow\">\u30b3\u30c1\u30e9</a> \u3092\u3054\u53c2\u7167\u304f\u3060\u3055\u3044\u3002  </p>\n<p>Visual
        Studio Community \u306b\u4ed8\u5c5e\u306e Xamarin \u307e\u305f\u306f\u3001Mac
        \u3067 Xamarin Studio Community \u3067\u4f5c\u696d\u3092\u3057\u307e\u3059\u3002Visual
        Studio Professional/Enterprise \u3092\u304a\u6301\u3061\u306e\u65b9\u306f\u3001Xamarin
        \u306e\u6700\u65b0\u7248\u304c\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u3055\u308c\u3066\u3044\u308c\u3070
        OK \u3067\u3059\u3002</p>\n<p><strong>Android \u3092\u3084\u308b\u65b9\u306f\u3001Xamarin
        \u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\u5f8c\u306bAndroid SDK\u3092\u6700\u65b0\u306b\u3057\u3066\u304f\u3060\u3055\u3044\u3002</strong>
        \u5177\u4f53\u7684\u306b\u306f SDK Manager \u3092 UAC \u30aa\u30f3\u3067\u8d77\u52d5\u3057\u3066\u4e0a\u304b\u3089
        3 \u3064</p>\n<ul>\n<li>Android SDK</li>\n<li>Android Platform tools</li>\n<li>Android
        Build Tools \u306e\u6700\u65b0\u7248</li>\n</ul>\n<p>\u3067\u3059\u3002N Previe[...]
