---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&event_id=46087&order=2&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Mon, 22 May 2017 15:54:20 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 1, "events": [{"event_url": "https://connpass.com/event/46087/",
        "event_type": "participation", "owner_nickname": "its_out_of_tune", "series":
        null, "updated_at": "2016-11-27T23:17:11+09:00", "lat": "35.169695000000",
        "started_at": "2016-12-10T12:00:00+09:00", "hash_tag": "tunekell", "title":
        "\u3061\u3085\u30fc\u3093\u3055\u3093\u3061\u3067Haskell\u3084\u308b\u3068\u697d\u3057\u3044\u3068\u3044\u3046\u4f1a",
        "event_id": 46087, "lon": "136.897787800000", "waiting": 0, "limit": 5, "owner_id":
        11428, "owner_display_name": "its_out_of_tune", "description": "<h2>\u306a\u306b\u3053\u308c</h2>\n<p>\u3061\u3085\u30fc\u3093\u3055\u3093\u3061\u3067Haskell\u306e\u306a\u3093\u304b\u3084\u308a\u307e\u3059\u3002</p>\n<p>\u7d42\u4e86\u6642\u9593\u306f\u9069\u5f53\u3067\u3059\u3002\u4eba\u306e\u5c45\u308b\u9650\u308a\u7d9a\u304d\u307e\u3059\u3002</p>\n<p>\u4eba\u6570\u3082\u9069\u5f53\u3067\u3059\u3002\u767b\u9332\u3057\u306a\u3044\u3067\u3044\u304d\u306a\u308a\u6765\u3066\u3082\u8ffd\u3044\u51fa\u3057\u305f\u308a\u306f\u3057\u306a\u3044\u3068\u601d\u3044\u307e\u3059\u3051\u3069\u3001\u5e2d\u304c\u3042\u308b\u304b\u306f\u4fdd\u8a3c\u3057\u307e\u305b\u3093\u3002</p>\n<h2>\u306a\u306b\u3084\u308b\u306e</h2>\n<ul>\n<li>\u307f\u3093\u306a\u3067\u5354\u529b\u3057\u3066Haskell\u66f8\u3044\u305f\u308a</li>\n<li>\u5404\u3005\u304c\u3066\u304d\u3068\u30fc\u306bHaskell\u66f8\u3044\u305f\u308a</li>\n<li>Haskell\u306e\u672c\u8aad\u3093\u3060\u308a</li>\n<li>\u30ef\u30fc\u30af\u30b7\u30e7\u30c3\u30d7\u7684\u306a\u4e8b\u3068\u304b\u3057\u305f\u308a</li>\n<li>\u30b3\u30fc\u30c9\u30ea\u30fc\u30c7\u30a3\u30f3\u30b0\u7684\u306a\u4e8b\u3068\u304b\u3057\u305f\u308a</li>\n<li>\u30c7\u30a3\u30b9\u30ab\u30c3\u30b7\u30e7\u30f3\u30[...]
