.shadow {
    margin-top: 5px; /* 画像の上の余白*/
    display: inline-block; 
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8); /*横方向　下方向　ぼかし　広がり　色 */
}

hr.wave {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

img.owner-icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #FA7484 solid;
}

img.owner-icon:hover {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #8EC6FF solid;
  cursor: pointer;
}

img.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 1px #AAAAAA solid;
}

img.user-icon:hover {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 3px #8EC6FF solid;
  cursor: pointer;
}

img.twitter-icon {
  width: 36px;
  height: 36px;
}

/* ------------------------------
　　ベース
------------------------------ */
body {
	color: #333;
	font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,sans-serif;
	font-size: 16px;
	background: #FFF;
	border-top: 10px solid #CCC;
}

/* ------------------------------
　　ヘッダー
------------------------------ */
.header {
	padding: 30px 0;
}

.site-name {
	font-size: 30px;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* ------------------------------
　　イベント
------------------------------ */
.event {
}

.event-left {
}

.event-right {
}

.event-user {
  padding-top: 10px
}

.day {
  text-align: right;
}

.event-logo {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  padding-top: 10px;
}

.event-place {
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-title {
  margin-top: 10px;
  vertical-align: top;
}

.group-logo {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 1px #AAAAAA solid;
}

.event-detail {
  color: #888888;
  padding-top: 10px;
  max-height: 70px;
  overflow: hidden
}

.user-limit {
  text-align: right;
}

.user-limit p {
  display: inline;
}

/* ------------------------------
　　フッター
------------------------------ */
.footer {
	padding: 20px 0;
	color: #FFF;
	background: #333;
}
