<div class="event-place">
  <a itemprop="location" itemscope itemtype="http://schema.org/Place" datatoggle="tooltip" title="<%= event.address %>" href="https://maps.google.co.jp/maps?q=<%= event.place_enc %>">
    <span itemprop="name" class="glyphicon glyphicon-map-marker">
      <%= event.place %>
    </span>
    <span class="event-address" itemprop="address">
      <%= event.address %>
    </span>
  </a>
</div>
