---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&event_id=47375&keyword_or=%E6%84%9B%E7%9F%A5,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Wed, 14 Jun 2017 13:35:25 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 1, "events": [{"event_url": "https://jpsps-ngy.connpass.com/event/47375/",
        "event_type": "participation", "owner_nickname": "SinyaSakakibara", "series":
        {"url": "https://jpsps-ngy.connpass.com/", "id": 3254, "title": "JPSPS \u540d\u53e4\u5c4b\u5206\u79d1\u52c9\u5f37\u4f1a"},
        "updated_at": "2017-01-30T18:17:19+09:00", "lat": "35.170234500000", "started_at":
        "2017-01-30T19:30:00+09:00", "hash_tag": "JPSPS #JPSPSNGY", "title": "\u7b2c5\u56de
        JPSPS SharePoint/Office365\u540d\u53e4\u5c4b\u5206\u79d1\u52c9\u5f37\u4f1a
        at GeekBar", "event_id": 47375, "lon": "136.922718900000", "waiting": 0, "limit":
        30, "owner_id": 34130, "owner_display_name": "\u698a\u539f\u4f38\u4e5f", "description":
        "<p>\u301c\u540d\u53e4\u5c4b\u30fb\u6771\u6d77\u306eSharePoint/Office365\u3092\u3082\u3063\u3068\u76db\u308a\u4e0a\u3052\u305f\u3044\ufe15\u301c\n\u7686\u69d8\u306e\u304a\u304b\u3052\u3067\u3001\u7b2c\u4e94\u56de\u3001\u4e00\u5468\u5e74\u3092\u8fce\u3048\u308b\u3053\u3068\u304c\u3067\u304d\u307e\u3057\u305f\u3002\nSharePoint\u3082Office365\u306e\u30a2\u30c3\u30d7\u30b0\u30ec\u30fc\u30c9\u3068\u3068\u3082\u306b\u8db3\u65e9\u306b\u6539\u826f\u3092\u91cd\u306d\u3066\u304d\u3066\u304a\u308a[...]
- request:
    method: get
    uri: https://api.doorkeeper.jp/events/47375
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit:
      - '{"name":"authenticated API","period":300,"limit":300,"remaining":273,"until":"2017-06-14T13:40:00Z"}'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Jun 2017 13:36:07 GMT
- request:
    method: get
    uri: http://api.atnd.org/events/?count=100&event_id=47375&format=json&keyword_or=%E6%84%9B%E7%9F%A5,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"aebacbe4c83ae102dbd4ae98084cff3b"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results_returned":0,"results_start":1,"events":[]}'
  recorded_at: Wed, 14 Jun 2017 13:36:08 GMT
recorded_with: VCR 3.0.3
