---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&event_id=47375&keyword_or=%E6%84%9B%E7%9F%A5,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E3%81%82%E3%81%84%E3%81%A1,%E3%81%AA%E3%81%94%E3%82%84,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Thu, 31 Jan 2019 07:37:29 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 1, "events": [{"event_url": "https://jpsps-ngy.connpass.com/event/47375/",
        "event_type": "participation", "owner_nickname": "SinyaSakakibara", "series":
        {"url": "https://jpsps-ngy.connpass.com/", "id": 3254, "title": "JPSPS \u540d\u53e4\u5c4b\u5206\u79d1\u52c9\u5f37\u4f1a"},
        "updated_at": "2017-01-30T18:17:19+09:00", "lat": "35.170234500000", "started_at":
        "2017-01-30T19:30:00+09:00", "hash_tag": "JPSPS #JPSPSNGY", "title": "\u7b2c5\u56de
        JPSPS SharePoint/Office365\u540d\u53e4\u5c4b\u5206\u79d1\u52c9\u5f37\u4f1a
        at GeekBar", "event_id": 47375, "lon": "136.922718900000", "waiting": 0, "limit":
        30, "owner_id": 34130, "owner_display_name": "\u698a\u539f\u4f38\u4e5f", "description":
        "<p>\u301c\u540d\u53e4\u5c4b\u30fb\u6771\u6d77\u306eSharePoint/Office365\u3092\u3082\u3063\u3068\u76db\u308a\u4e0a\u3052\u305f\u3044\ufe15\u301c\n\u7686\u69d8\u306e\u304a\u304b\u3052\u3067\u3001\u7b2c\u4e94\u56de\u3001\u4e00\u5468\u5e74\u3092\u8fce\u3048\u308b\u3053\u3068\u304c\u3067\u304d\u307e\u3057\u305f\u3002\nSharePoint\u3082Office365\u306e\u30a2\u30c3\u30d7\u30b0\u30ec\u30fc\u30c9\u3068\u3068\u3082\u306b\u8db3\u65e9\u306b\u6539\u826f\u3092\u91cd\u306d\u3066\u304d\u3066\u304a\u308a[...]
- request:
    method: get
    uri: https://api.doorkeeper.jp/events/47375
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit:
      - '{"name":"authenticated API","period":300,"limit":300,"remaining":265,"until":"2019-01-31T07:45:00Z"}'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Jan 2019 07:40:41 GMT
- request:
    method: get
    uri: http://api.atnd.org/events/?count=100&event_id=47375&format=json&keyword_or=%E6%84%9B%E7%9F%A5,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E3%81%82%E3%81%84%E3%81%A1,%E3%81%AA%E3%81%94%E3%82%84,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"aebacbe4c83ae102dbd4ae98084cff3b"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results_returned":0,"results_start":1,"events":[]}'
  recorded_at: Thu, 31 Jan 2019 07:40:41 GMT
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&order=2&series_id=3740&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Thu, 31 Jan 2019 07:40:36 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 6, "events": [{"event_url": "https://msp-nkc.connpass.com/event/104579/",
        "event_type": "participation", "owner_nickname": "crazytoto795", "series":
        {"url": "https://msp-nkc.connpass.com/", "id": 3740, "title": "NKC-UG \u540d\u53e4\u5c4b"},
        "updated_at": "2018-11-17T10:35:17+09:00", "lat": "35.120212900000", "started_at":
        "2018-11-17T10:00:00+09:00", "hash_tag": "nkcug #nkcday", "title": "NKC DAY
        2018 1\u65e5\u76ee \u52c9\u5f37\u4f1a", "event_id": 104579, "lon": "136.912143700000",
        "waiting": 0, "limit": 51, "owner_id": 149575, "owner_display_name": "\u5c0f",
        "description": "<h3>\u3053\u306e\u30da\u30fc\u30b8\u306f1\u65e5\u76ee[11/17(\u571f)]\u306e\u52c9\u5f37\u4f1a\u306e\u52df\u96c6\u30da\u30fc\u30b8\u3067\u3059\u3002</h3>\n<h3>2\u65e5\u76ee[11/18(\u65e5)]\u306e\u5b66\u751fLT\u306b\u3088\u308bLT\u5927\u4f1a\u306e\u52df\u96c6\u30da\u30fc\u30b8\u306f<a
        href=\"https://student-lt.connpass.com/event/104134/\" rel=\"nofollow\">\u3053\u3061\u3089</a>\u3067\u3059\u3002</h3>\n<h1>\u30a4\u30d9\u30f3\u30c8\u6982\u8981</h1>\n<h2><span
        style=\"color: red;\">\u793e\u4f1a\u4eba\u306e\u65b9\u3082\u662f\u975e\u3054\u53c2\u52a0\u304f\u3060\u3055\u3044\uff01\uff01<span></span></span></h2>\n<p>NKC-UG\u3067\u306f\u3001\u4ed6\u5b66\u5e74\u3084\u4ed6\u5b66\u79d1\u306e\u5b66\u751f\u540c\u58eb\u3067\u306e\u60c5\u5831\u306e\u5171\u6709\u3084\u6a2a\u306e\u3064\u306a\u304c\u308a\u3092\u5e83\u3052\u308b\u305f\u3081\u306b\u3001\u53bb\u5e74\u767a\u8db3\u3055\u308c\u305f\u30b3\u30df\u30e5\u30cb\u30c6\u30a3\u30fc\u3067\u3059\u3002<br>\n\u4eca\u56de\u307e\u3067\u306fNKC\u306e\u5b66\u751f\u306e\u307f\u3067\u306e\u30af\u30ed\u30fc\u30ba\u30c9\u306a\u52c9\u5f37\u4f1a\u3067\u3057\u305f\u304c\u3001\u4eca\u56de\u306e\u6587\u5316\u796d\u3067\u306f\u30aa\u30fc\u30d7\u30f3\u306a\u958b\u50ac\u304c\u53ef\u80fd\u306a\u305f\u3081\u5927\u304d\u304f\u884c\u3063\u3066\u3044\u304d\u305f\u3044\u3068\u601d\u3063\u3066\u304a\u308a\u307e\u3059\uff01<br></p>\n<p>\u6587\u5316\u796d\u306f<strong>\u3069\u306a\u305f\u3067\u3082\u53c2\u52a0\u3067\u304d\u308b\u8cb4\u91cd\u306a\u65e5</strong>\u3067\u3059\u3002\u662f\u975e\u3001\u3054\u53c2\u52a0\u304f\u3060\u3055\u3044\u3002<br>\n\u5f53\u65e5\u308f\u304b\u3089\u306a\u3044\u3053\u3068\u304c\u3042\u308c\u3070Twitter
        ID:@NKCUG_DP \u3082\u3057\u304f\u306f\u30cf\u30c3\u30b7\u30e5\u30bf\u30b0#NKCUG\u307e\u3067\u304a\u9858\u3044\u3044\u305f\u3057\u307e\u3059<br></p>\n<p><strong>NKC\u751f\u306f\u5b66\u5185\u63b2\u793a\u3082\u3057\u304f\u306f\u30d1\u30f3\u30d5\u30ec\u30c3\u30c8\u3092\u3054\u89a7\u4e0b\u3055\u3044\u3002<br>\nNKC\u751f\u7528\u306e\u5e2d\u3092\u3054\u7528\u610f\u3057\u3066\u304a\u308a\u307e\u3059\u3002\u5e2d\u306b\u9650\u308a\u304c\u3054\u3056\u3044\u307e\u3059\u306e\u3067\u3054\u4e86\u627f\u304f\u3060\u3055\u3044\u3002</strong><br></p>\n<h1>\u30bf\u30a4\u30e0\u30b9\u30b1\u30b8\u30e5\u30fc\u30eb</h1>\n<h5>1\u65e5\u76ee\u3000\u52c9\u5f37\u4f1a</h5>\n<table>\n<thead>\n<tr>\n<th>\u6642\u9593</th>\n<th>\u767b\u58c7\u8005</th>\n<th>\u5185\u5bb9</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>10:00~10:15</td>\n<td>NKC-UG
        \u5c0f\u77f3\u5009\u5e83\u6a39</td>\n<td>\u30aa\u30fc\u30d7\u30f3</td>\n</tr>\n<tr>\n<td>10:15~10:30</td>\n<td>OWASP
        Nagoya \u5742\u68a8 \u529f\u5178</td>\n<td>OWASP\u3068\u306f</td>\n</tr>\n<tr>\n<td>10:30~10:50</td>\n<td>OWASP
        Nagoya \u5c0f\u77f3\u5009\u5e83\u6a39</td>\n<td>OWASP\u306b\u53c2\u52a0\u3057\u3066\u308f\u304b\u3063\u305f\u3053\u3068</td>\n</tr>\n<tr>\n<td>10:50~11:00</td>\n<td></td>\n<td>\u4f11\u61a9</td>\n</tr>\n<tr>\n<td>11:00~[...]
