---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E6%84%9B%E7%9F%A5,%E3%81%82%E3%81%84%E3%81%A1,%E3%81%AA%E3%81%94%E3%82%84,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=1&ym=201612
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Fri, 30 Jun 2017 16:02:48 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 100, "events": [{"event_url": "https://connpass.com/event/47657/",
        "event_type": "participation", "owner_nickname": "40balmung", "series": null,
        "updated_at": "2016-12-22T14:53:17+09:00", "lat": "35.174382700000", "started_at":
        "2016-12-29T14:00:00+09:00", "hash_tag": "HHKBHack", "title": "HHKB Hacking\u4f1a",
        "event_id": 47657, "lon": "136.882469800000", "waiting": 0, "limit": null,
        "owner_id": 2363, "owner_display_name": "40balmung", "description": "<p>\u3053\u306e\u5ea6HHKB
        Type-S\u3092\u8cfc\u5165\u3057\u307e\u3057\u305f\u3002</p>\n<p>\u8a18\u5ff5\u306b\u57fa\u76e4\u3092\u5165\u308c\u66ff\u3048\u3066BT\u5316\u3068\u30ad\u30fc\u914d\u5217\u306e\u5909\u66f4\u306a\u3069\u3001HappyHacking
        Keyboard\u3092Hack\u3059\u308b\u4f1a\u3092\u958b\u50ac\u3057\u307e\u3059\u3002</p>\n<p>\u306a\u304a\u79c1\u306fHack\u3057\u305f\u3053\u3068\u304c\u7121\u3044\u306e\u3067@shela\u3055\u3093\u3054\u5354\u529b\u306e\u3082\u3068\u57fa\u76e4\u3092\u5165\u308c\u66ff\u3048\u307e\u3059\u3002</p>\n<p>\u53c2\u8003URL</p>\n<ul>\n<li><a
        href=\"https://geekhack.org/index.php?topic=71517.0\" rel=\"nofollow\">https://geekhack.org/index.php?topic=71517.0</a></li>\n<li><a
        href=\"http://qiita.com/shela/items/62324752ff703bae3e74\" rel=\"nofollow\">http://qiita.com/shela/items/62324752ff703bae3e74</a></li>\n</ul>\n<p>\u305d\u308c\u306b\u4f34\u3044\u3001\u30ad\u30fc\u30dc\u30fc\u30c9\u306b\u3064\u3044\u3066\u8272\u3005\u304a\u8a71\u3057\u305f\u308a\u5404\u81ea\u30ad\u30fc\u30dc\u30fc\u30c9\u3092\u6301\u3061\u5bc4\u30[...]
[...]
- request:
    method: get
    uri: https://api.doorkeeper.jp/events/?page=1&q=%E6%84%9B%E7%9F%A5%7C%E3%81%82%E3%81%84%E3%81%A1%7C%E3%81%AA%E3%81%94%E3%82%84%7C%E4%B8%AD%E9%83%A8%7C%E6%9D%B1%E6%B5%B7%7C%E5%90%8D%E5%8F%A4%E5%B1%8B%7C%E8%B1%8A%E6%A9%8B%7C%E8%B1%8A%E7%94%B0%7C%E5%B2%A1%E5%B4%8E%7C%E4%B8%80%E5%AE%AE%7C%E6%98%A5%E6%97%A5%E4%BA%95%7C%E5%AE%89%E5%9F%8E%7C%E8%B1%8A%E5%B7%9D%7C%E8%A5%BF%E5%B0%BE%7C%E5%88%88%E8%B0%B7%7C%E5%B0%8F%E7%89%A7%7C%E7%A8%B2%E6%B2%A2%7C%E5%8D%8A%E7%94%B0%7C%E7%80%[...]
