---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E6%84%9B%E7%9F%A5,%E3%81%82%E3%81%84%E3%81%A1,%E3%81%AA%E3%81%94%E3%82%84,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=1&ym=201705
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Fri, 30 Jun 2017 16:03:15 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 100, "events": [{"event_url": "https://henepata.connpass.com/event/57660/",
        "event_type": "participation", "owner_nickname": "7shi", "series": {"url":
        "https://henepata.connpass.com/", "id": 1402, "title": "\u30d8\u30cd\u30d1\u30bf\u8aad\u66f8\u4f1a"},
        "updated_at": "2017-05-18T07:13:37+09:00", "lat": "35.693470200000", "started_at":
        "2017-05-31T20:00:00+09:00", "hash_tag": "\u30d8\u30cd\u30d1\u30bf\u8aad\u66f8\u4f1a",
        "title": "\u30d8\u30cd\u30d1\u30bf\u8aad\u66f8\u4f1a (40)", "event_id": 57660,
        "lon": "139.777588200000", "waiting": 0, "limit": 8, "owner_id": 4865, "owner_display_name":
        "7shi", "description": "<p>\u300e<a href=\"http://www.amazon.co.jp/dp/4798126233\"
        rel=\"nofollow\">\u30d8\u30cd\u30b7\u30fc&amp;\u30d1\u30bf\u30fc\u30bd\u30f3
        \u30b3\u30f3\u30d4\u30e5\u30fc\u30bf\u30a2\u30fc\u30ad\u30c6\u30af\u30c1\u30e3
        \u5b9a\u91cf\u7684\u30a2\u30d7\u30ed\u30fc\u30c1 \u7b2c5\u7248</a>\u300f\uff08\u901a\u79f0\u30d8\u30cd\u30d1\u30bf\uff09\u3092\u8aad\u3080\u4f1a\u3067\u3059\u3002</p>\n<p>\u30b3\u30f3\u30d4\u30e5\u30fc\u30bf\u30a2\u30fc\u30ad\u30c6\u30af\u30c1\u30e3\u306e\u57fa\u790e\u3092\u52c9\u5f37\u3057\u307e\u3057\u3087\u3046\u3002</p>\n<p>\u304a\u6c17\u8efd\u306b\u3054\u53c2\u52a0\u304f\u3060\u3055\u3044\u3002</p>\n<p><font
        color=\"red\"><strong>\u3010\u6ce8\u3011</strong></font>\n\u4e3b\u50ac\u8005\u306f\u30b3\u30f3\u30d4\u30e5\u30fc\u30bf\u30a2\u30fc\u30ad\u30c6\u30af\u30c1\u30e3\u306e\u5c02\u9580\u5bb6\u3067\u306f\u3042\u308a\u307e\u305b\u3093\u3002\n\u3042\u307e\u308a\u51c4\u3044\u3053\u3068\u306f\u671f\u5f85\u3057\u306a\u3044\u3067\u304f\u3060\u3055\u3044\u3002</p>\n<h1>\u4f1a\u5834\u306b\u3064\u3044\u3066</h1>\n<p><a
        href=\"http://nekoneko.co.jp/\" rel=\"nofollow\">\u682a\u5f0f\u4f1a\u793e\u306d\u3053\u306d\u3053\u30a8\u30f3\u30b8\u30cb\u30a2\u30ea\u30f3\u30b0</a>\u69d8\u306e\u3054\u539a\u610f\u3067\u4f1a\u8b70\u5ba4\u3092\u3054\u63d0\u4f9b\u3044\u305f\u3060\u3044\u3066\u304a\u308a\u307e\u3059\u3002</p>\n<h1>\u60c5\u5831\u4ea4\u63db</h1>\n<p>\u63b2\u793a\u677f\u3068Wiki\u3092\u7528\u610f\u3057\u307e\u3057\u305f\u3002</p>\n<ul>\n<li><a
        href=\"https://gitter.im/read-henepata/Lobby\" rel=\"nofollow\">https://gitter.im/read-henepata/Lobby</a></li>\n<li><a
        href=\"https://github.com/7shi/henepata/wiki\" rel=\"nofollow\">https://github.com/7shi/henepata/wiki</a></li>\n</ul>\n<h1>\u958b\u50ac\u5c65\u6b74</h1>\n<p>\u9694\u9031\u6c34\u66dc\u65e5\u306b\u958b\u50ac\u3057\u307e\u3059\u3002</p>\n<table>\n<thead>\n<tr>\n<th
        align=\"right\">\u56de</th>\n<th>\u65e5</th>\n<th align=\"right\">\u30da\u30fc\u30b8</th>\n<th>\u7ae0</th>\n<th>\u30bf\u30a4\u30c8\u30eb</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td
        align=\"right\"><font color=\"red\"><strong>\u4eca\u56de</strong></font></td>\n<td>2017.05.31</td>\n<td
        align=\"right\">189</td>\n<td>3.7</td>\n<td>\u57fa\u672c\u7684\u306aVLIW\u30d7\u30ed\u30bb\u30c3\u30b5\u306e\u30a2\u30d7\u30ed\u30fc\u30c1</td>\n</tr>\n<tr>\n<td
        align=\"right\"><a href=\"https://henepata.connpass.com/event/55653/\" rel=\"nofollow\">39</a></td>\n<td>2017.05.17</td>\n<td
        align=\"right\">185</td>\n<td>3.6</td>\n<td>\u30cf\u30fc\u30c9\u30a6\u30a7\u30a2\u30d9\u30fc\u30b9\u306e\u6295\u6a5f\u51e6\u7406\uff08\u9014\u4e2d\uff09</td>\n</tr>\n<[...]
[...]
