---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E6%84%9B%E7%9F%A5,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=1&ym=201705
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Wed, 17 May 2017 16:30:00 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 100, "events": [{"event_url": "https://fp-in-scala-nagoya.connpass.com/event/57073/",
        "event_type": "participation", "owner_nickname": "smogami", "series": {"url":
        "https://fp-in-scala-nagoya.connpass.com/", "id": 1482, "title": "\u300eFP
        in Scala\u300f\u8aad\u66f8\u4f1a@\u540d\u53e4\u5c4b"}, "updated_at": "2017-05-11T19:41:04+09:00",
        "lat": "35.164043400000", "started_at": "2017-05-31T18:30:00+09:00", "hash_tag":
        "fpinscala_nagoya", "title": "\u540d\u53e4\u5c4b\u300eFP in Scala\u300f\u8aad\u66f8\u4f1a
        #25 - 12.6\u7bc0 \u30c8\u30e9\u30d0\u30fc\u30b5\u30d6\u30eb\u30d5\u30a1\u30f3\u30af\u30bf",
        "event_id": 57073, "lon": "136.915762100000", "waiting": 0, "limit": 15, "owner_id":
        7047, "owner_display_name": "mogami", "description": "<h2>\u76ee\u7684</h2>\n<p><a
        href=\"http://book.impress.co.jp/books/1114101091\" rel=\"nofollow\">\u300eScala\u95a2\u6570\u578b\u30c7\u30b6\u30a4\u30f3\uff06\u30d7\u30ed\u30b0\u30e9\u30df\u30f3\u30b0\u300f</a>\uff08FP
        in Scala\uff09\u3092\u8aad\u307f\u3001\u7df4\u7fd2\u554f\u984c\u3092\u89e3\u304f\u3053\u3068\u3067\u3001\u95a2\u6570\u578b\u30d7\u30ed\u30b0\u30e9\u30df\u30f3\u30b0\u306e\u8003\u3048\u3084Scala\u8a00\u8a9e\u3092\u697d\u3057\u304f\u5b66\u3076\u3002</p>\n<h2>\u4eca\u56de\u306e\u7bc4\u56f2</h2>\n<p><b
        style=\"font-size: x-large;\">\u7b2c12\u7ae0 6\u7bc0 \u30c8\u30e9\u30d0\u30fc\u30b5\u30d6\u30eb\u30d5\u30a1\u30f3\u30af\u30bf\u30fc</b><br>\n\u304b\u3089\u3067\u3059\u3002\u4e8b\u524d\u306b\u3057\u3063\u304b\u308aExercise\u3092\u89e3\u3044\u3066\u304a\u304f\u306e\u3092\u30aa\u30b9\u30b9\u30e1\u3057\u307e\u3059\u3002</p>\n<h2>\u9032\u3081\u65b9</h2>\n<ul>\n<li>\u53c2\u52a0\u8005\u3067\u3055\u3089\u3063\u3068\u8aad\u307f\u5408\u308f\u305b\u308b</li>\n<li>Exercise\u3082\u89e3\u304f</li>\n<li>\u307f\u3093\u306a\u3067\u7591\u554f\u70b9\u3092\u8cea\u554f\u3001\u89e3\u6d88\u3057\u3066\u3044\u304f</li>\n<li>Scala\u6709\u8b58\u8005\u304b\u3089\u89e3\u8aac\u3082\u3089\u3063\u3066\u30cf\u30c3\u30d4\u30fc\u306b\u306a\u308b</li>\n<li>\u4eca\u56de\u304b\u3089\u53c2\u52a0\u3067\u3082\u5927\u4e08\u592b</li>\n</ul>\n<h2>\u5bfe\u8c61\u8005</h2>\n<ul>\n<li>\u6700\u8fd1[...]
[...]
