---
http_interactions:
- request:
    method: get
    uri: https://connpass.com/api/v1/event/?count=100&keyword_or=%E6%84%9B%E7%9F%A5,%E3%81%82%E3%81%84%E3%81%A1,%E3%81%AA%E3%81%94%E3%82%84,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=1&ym=201707
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - ja
      Content-Type:
      - text/json; charset=utf-8
      Last-Modified:
      - Sat, 01 Jul 2017 23:01:30 GMT
    body:
      encoding: UTF-8
      string: '{"results_returned": 82, "events": [{"event_url": "https://connpass.com/event/61086/",
        "event_type": "participation", "owner_nickname": "sakurasakumarketing", "series":
        null, "updated_at": "2017-06-29T18:32:46+09:00", "lat": "35.642969500000",
        "started_at": "2017-07-31T16:00:00+09:00", "hash_tag": "", "title": "\u6210\u679c\u306b\u7e4b\u304c\u308b\u30b3\u30f3\u30c6\u30f3\u30c4\u30de\u30fc\u30b1\u30c6\u30a3\u30f3\u30b0\u30bb\u30df\u30ca\u30fc\uff5e\u521d\u7d1aWeb\u62c5\u5f53\u8005\u5411\u3051\uff5e",
        "event_id": 61086, "lon": "139.711521500000", "waiting": 0, "limit": 5, "owner_id":
        157394, "owner_display_name": "\u30b5\u30af\u30e9\u30b5\u30af\u30de\u30fc\u30b1\u30c6\u30a3\u30f3\u30b0\u682a\u5f0f\u4f1a\u793e",
        "description": "<p>\u4eca\u3084\u30a6\u30a7\u30d6\u30de\u30fc\u30b1\u30c6\u30a3\u30f3\u30b0\u306e\u4e3b\u6d41\u3068\u8a00\u308f\u308c\u308b\u307e\u3067\u306b\u306a\u3063\u3066\u304d\u305f\u300c\u30b3\u30f3\u30c6\u30f3\u30c4\u300d\u3002\n\u9069\u5207\u306a\u30bf\u30fc\u30b2\u30c6\u30a3\u30f3\u30b0\u3092\u884c\u3046\u3053\u3068\u3067\u3001\u52b9\u679c\u6539\u5584\u306b\u5bc4\u4e0e\u3059\u308b\u65bd\u7b56\u3068\u8a00\u308f\u308c\u3066\u3044\u307e\u3059\u3002</p>\n<p>\u3053\u308c\u307e\u3067\u306e\u30a6\u30a7\u30[...]
- request:
    method: get
    uri: https://api.doorkeeper.jp/events/?page=1&q=%E6%84%9B%E7%9F%A5%7C%E3%81%82%E3%81%84%E3%81%A1%7C%E3%81%AA%E3%81%94%E3%82%84%7C%E4%B8%AD%E9%83%A8%7C%E6%9D%B1%E6%B5%B7%7C%E5%90%8D%E5%8F%A4%E5%B1%8B%7C%E8%B1%8A%E6%A9%8B%7C%E8%B1%8A%E7%94%B0%7C%E5%B2%A1%E5%B4%8E%7C%E4%B8%80%E5%AE%AE%7C%E6%98%A5%E6%97%A5%E4%BA%95%7C%E5%AE%89%E5%9F%8E%7C%E8%B1%8A%E5%B7%9D%7C%E8%A5%BF%E5%B0%BE%7C%E5%88%88%E8%B0%B7%7C%E5%B0%8F%E7%89%A7%7C%E7%A8%B2%E6%B2%A2%7C%E5%8D%8A%E7%94%B0%7C%E7%80%[...]
[...]
- request:
    method: get
    uri: http://api.atnd.org/events/?count=100&format=json&keyword_or=%E6%84%9B%E7%9F%A5,%E3%81%82%E3%81%84%E3%81%A1,%E3%81%AA%E3%81%94%E3%82%84,%E4%B8%AD%E9%83%A8,%E6%9D%B1%E6%B5%B7,%E5%90%8D%E5%8F%A4%E5%B1%8B,%E8%B1%8A%E6%A9%8B,%E8%B1%8A%E7%94%B0,%E5%B2%A1%E5%B4%8E,%E4%B8%80%E5%AE%AE,%E6%98%A5%E6%97%A5%E4%BA%95,%E5%AE%89%E5%9F%8E,%E8%B1%8A%E5%B7%9D,%E8%A5%BF%E5%B0%BE,%E5%88%88%E8%B0%B7,%E5%B0%8F%E7%89%A7,%E7%A8%B2%E6%B2%A2,%E5%8D%8A%E7%94%B0,%E7%80%AC%E6%88%B8,%E6%9D%B1%E6%B5%B7,%E6%97%A5%E9%80%B2,%E5%A4%A7%E5%BA%9C,%E6%B1%9F%E5%8D%97,%E5%8C%97%E5%90%8D%E5%8F%A4%E5%B1%8B,%E5%B0%BE%E5%BC%B5%E6%97%AD,%E3%81%82%E3%81%BE,%E7%9F%A5%E5%A4%9A,%E7%9F%A5%E7%AB%8B,%E8%92%B2%E9%83%A1,%E3%81%BF%E3%82%88%E3%81%97,%E7%8A%AC%E5%B1%B1,%E7%A2%A7%E5%8D%97,%E6%B8%85%E9%A0%88,%E8%B1%8A%E6%98%8E,%E9%95%B7%E4%B9%85%E6%89%8B,%E6%B4%A5%E5%B3%B6,%E7%94%B0%E5%8E%9F,%E6%84%9B%E8%A5%BF,%E9%AB%98%E6%B5%9C,%E5%B8%B8%E6%BB%91,%E6%9D%B1%E6%B5%A6,%E6%9D%B1%E9%83%B7,%E5%B9%B8%E7%94%B0,%E6%AD%A6%E8%B1%8A,%E5%B2%A9%E5%80%89,%E5%BC%A5%E5%AF%8C,%E6%96%B0%E5%9F%8E,%E6%89%B6%E6%A1%91,%E5%A4%A7%E6%B2%BB,%E8%9F%B9%E6%B1%9F,%E9%98%BF%E4%B9%85%E6%AF%94,%E5%A4%A7%E5%8F%A3,%E7%BE%8E%E6%B5%9C,%E8%B1%8A%E5%B1%B1,%E5%8D%97%E7%9F%A5%E5%A4%9A,%E9%A3%9B%E5%B3%B6,%E8%A8%AD%E6%A5%BD,%E6%9D%B1%E6%A0%84,%E8%B1%8A%E6%A0%B9&order=2&start=0&ym=201707
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"72e29618a2ece88a09bd130da65f13b5"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJyZXN1bHRzX3JldHVybmVkIjo2MCwicmVzdWx0c19zdGFydCI6MSwiZXZlbnRzIjpbeyJldmVudCI6eyJldmVudF9pZCI6ODkyMDAsInRpdGxlIjoi44OV44Oq44O844Op44Oz44K5TmlnaHTimIYgQOadseS6rCB2b2wuNSIsImNhdGNoIjpudWxsLCJkZXNjcmlwdGlvbiI6Ilx1MDAzY3BcdTAwM2VcdTAwM2NpXHUwMDNl5Yil44K144Kk44OI44Gn44KC6ZuG5a6i44GX44Gm44GK44KK44CB5Y+C5Yqg6ICF5Lq65pWw44Gr6Kqk5beu44GM44GC44KK44G+44GZ44CC44[...]
