---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="0857a0fb49f86ef4619b14154fdbb877",
        oauth_signature="4ky469n38WDVOQeL60DnnyPfAGA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547826", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:50:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5e1c408445fda9fe72d9e260bf76b1df
      X-Response-Time:
      - '206'
      X-Transaction:
      - 00da1bea0039265d
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":887988054098444288,"id_str":"887988054098444288","name":"\u30c6\u30b9\u30c8","uri":"\/benkyo_dev\/lists\/list138","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list138","full_name":"@benkyo_dev\/list138","created_at":"Thu
        Jul 20 10:50:24 +0000 2017","following":false,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Thu, 20 Jul 2017 10:50:26 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="6aa6498bac4218a9b4533bd7adda8f37",
        oauth_signature="D%2F7dvzku%2FQkIOpM9rMfcaW6g60M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547826", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:50:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f7617a44691067b4afcb2d35e70fcefb
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '69'
      X-Rate-Limit-Reset:
      - '1500548719'
      X-Response-Time:
      - '177'
      X-Transaction:
      - 00b0c90600c696a7
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_cou[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/members/create.json
    body:
      encoding: UTF-8
      string: list_id=887988054098444288&owner_id=878212227874004992&screen_name=shule517
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="0e662a0651ef80962b033d8035fc35d6",
        oauth_signature="liKkxiRRaQ5CgJmIop2wrEMl9Z4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547827", oauth_token="<OA[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=887988054098444288&owner_id=878212227874004992
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="f479c04b25d8afc89d5a2596c2d07102",
        oauth_signature="ZQDof6L6cH5YnqAiqnDSeKW8Wss%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547827", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:50:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 40aecfd8dd1e574e35246fe1ccd4987f
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1500548725'
      X-Response-Time:
      - '302'
      X-Transaction:
      - 007eaaf60038fd60
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":67637197,"id_str":"67637197","name":"\u3057\u3063\u304b\u308a\u30b7\u30e5\u30fc\u30eb","screen_name":"shule517","location":"\u540d\u53e4\u5c4b\u306e\u8fd1\u304f
        \u5143\u306e\u3093\u307b\u3044\u30d1\u30fc\u30af","description":"\u540d\u53e4\u5c4b\u52c9\u5f37\u4f1a\u307e\u3068\u3081\u30b5\u30a4\u30c8\u3092\u4f5c\u308a\u307e\u3057\u305f\uff01\n\u540d\u53e4\u5c4b\u52c9\u5f37\u4f1a\u3089\u3080\u3060(https:\/\/t.co\/75FLedYlUR)\n\n\u958b\u767a\u5927\u597d\u304d\uff01\u4ee3\u8868\u4f5c\u306f\u300cPeerstPlayer\u300d\u300c\u914d\u4fe1\u738b\u56fd\u300d\u3067\u3059\u3002\u6700\u8fd1\u306fWeb\u3092\u52c9\u5f37\u4e2d\u3002\u30c4\u30c3\u30b3\u30df\u6b53\u8fce\u3067\u3059\uff01\n\n7144\u52e2
        peca\u958b\u767a\u90e8\uff1ahttps:\/\/t.co\/iBBYy8j3Ce","url":"https:\/\/t.co\/ROpaUSPfy1","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/ROpaUSPfy1","expanded_url":"http:\/\/peerst.ddo.jp","display_url":"peerst.ddo.jp","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[30,53]},{"url":"https:\/\/t.co\/iBBYy8j3Ce","expanded_url":"http:\/\/goo.gl\/z7KgPr","display_url":"goo.gl\/z7KgPr","indices":[125,148]}]}},"protected":false,"followers_count":1036,"friends_count":1439,"listed_count":114,"created_at":"Fri
        Aug 21 15:40:45 +0000 2009","favourites_count":33585,"utc_offset":32400,"time_zone":"Tokyo","geo_enabled":true,"verified":false,"statuses_count":71000,"lang":"ja","status":{"created_at":"Thu
        Jul 20 10:30:59 +0000 2017","id":887983167637823488,"id_str":"887983167637823488","text":"\u3010\u30a2\u30ab\u30f3\u3011\u300e\u30e2\u30f3\u30b9\u30c8\u300f\u306e\u65b0CM\u3001\u5b8c\u5168\u306b\u300c\u304a\u4ecf\u58c7\u306e\u306f\u305b\u304c\u308f\u300d\u3092\u4e38\u30d1\u30af\u30ea\u3057\u3066\u308b\u3068\u8a71\u984c\u306b\uff57\uff57\uff57\uff57\uff57\u3000\u300c\u8a31\u53ef\u53d6\u3063\u305f\u306e\u304b\u3088\uff57\u300d\u300c\u6012\u3089\u308c\u306a\u3044\u306e\uff1f\u300d\u3068\u6279\u5224\u306e\u58f0
        : \u30aa\u30ec\u7684\u30b2\u30fc\u30e0\u901f\u5831\uff20\u5203 https:\/\/t.co\/lbiUkJqeOi","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/lbiUkJqeOi","expanded_url":"http:\/\/jin115.com\/archives\/52184714.html","display_url":"jin115.com\/archives\/52184\u2026","indices":[86,109]}]},"source":"\u003ca
        href=\"http:\/\/yoshika23218.com\/\" rel=\"nofollow\"\u003etwitcle plus\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"ja"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/744418862\/PeerstPlayer_Icon_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/744418862\/PeerstPlayer_Icon_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/67637197\/1463217213","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Thu, 20 Jul 2017 10:50:28 GMT
recorded_with: VCR 3.0.3
