---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="2b1220b7c6fafc4758716ae46e38dbf6",
        oauth_signature="orpCV8rZoIqdYB6Opz0E%2BXOymDY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499613483", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 09 Jul 2017 15:18:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ea71e6f978ddb7a1f98ae9ee9ec7af48
      X-Response-Time:
      - '169'
      X-Transaction:
      - '00209aa50001ef29'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":884069145070911488,"id_str":"884069145070911488","name":"\u30c6\u30b9\u30c8","uri":"\/shule517_dev\/lists\/list221","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list221","full_name":"@shule517_dev\/list221","created_at":"Sun
        Jul 09 15:18:04 +0000 2017","following":false,"user":{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff01","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":true,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Sun
        Jan 29 09:48:02 +0000 2017","favourites_count":21,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1363,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/873941198062342145\/X01-Xifh_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/873941198062342145\/X01-Xifh_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Sun, 09 Jul 2017 15:18:04 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="9efc7e0dec7cc075216826d41b5b366f",
        oauth_signature="MKmFi1VA1VBEzoF43EgVfc0kJrM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499613484", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 09 Jul 2017 15:18:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - d2ba62863b781b075ceb9f1010924e22
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1499614384'
      X-Response-Time:
      - '122'
      X-Transaction:
      - 007605b600c0e12c
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff0[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/members/create.json
    body:
      encoding: UTF-8
      string: list_id=884069145070911488&owner_id=825641644863033345&screen_name=shule517
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="31cb1476ed9e173983657e1e09a79fee",
        oauth_signature="qZBNYIZQO%2Fz2XlIK4vshiAPMMU4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499613484", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 09 Jul 2017 15:18:04 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - '039fa9d0e2286f716e2728417d29e006'
      X-Response-Time:
      - '234'
      X-Transaction:
      - 00c1eade00d9c084
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":106,"message":"You aren''t allowed to add shule517
        to lists."}]}'
  recorded_at: Sun, 09 Jul 2017 15:18:04 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=884069145070911488&owner_id=825641644863033345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="6b9112e58c4a3ad97a8d9f2f13c313e1",
        oauth_signature="joZOqiP5nYMDE0EMFXfNl1SbVrY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499613484", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 09 Jul 2017 15:18:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6eef6b36c19a7c1fc8bd1f4c2e026c01
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1499614384'
      X-Response-Time:
      - '149'
      X-Transaction:
      - 00c4826700c81f06
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Sun, 09 Jul 2017 15:18:04 GMT
recorded_with: VCR 3.0.3
