---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="3d5b474e74460ea5a20171be25fe349d",
        oauth_signature="ku%2B%2F9UM6KRS0gXbGrpA3LW8jI4M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494147956", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 09:05:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c7d1610581a847c205ee83298cfef4fa
      X-Response-Time:
      - '198'
      X-Transaction:
      - 006a7c0d00081697
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":861145060414377984,"id_str":"861145060414377984","name":"\u30c6\u30b9\u30c8","uri":"\/shule517_dev\/lists\/list227","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list227","full_name":"@shule517_dev\/list227","created_at":"Sun
        May 07 09:05:56 +0000 2017","following":false,"user":{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff01","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Sun
        Jan 29 09:48:02 +0000 2017","favourites_count":10,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":34,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Sun, 07 May 2017 09:05:56 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="b06293f2dc36e30a46059add2cb267c7",
        oauth_signature="fjYrJBYjtyBiqoMMHhkbTvcxMbE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494147956", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 09:05:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 91a19411328d02a1c2d5fcfb477eee53
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '69'
      X-Rate-Limit-Reset:
      - '1494148851'
      X-Response-Time:
      - '116'
      X-Transaction:
      - 0015e3f80029049a
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff0[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/members/create.json
    body:
      encoding: UTF-8
      string: list_id=861145060414377984&owner_id=825641644863033345&screen_name=shule517
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="f5462bc1dc77d18a30d2fe911d853949",
        oauth_signature="qlnkQED6wu8%2F4oLk6QOAlr02hnU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494147956", oauth_token="<[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=861145060414377984&owner_id=825641644863033345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="3f3d436fdbb88722552a3b453bde2cb9",
        oauth_signature="HKzsaJcFo2z65Fv9KLoKxnCK9ow%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494147956", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 09:05:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 47725f0a8767e46caf9984a4b50a92e8
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1494148857'
      X-Response-Time:
      - '149'
      X-Transaction:
      - '0090e66c00760d80'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":67637197,"id_str":"67637197","name":"\u3057\u3063\u304b\u308a\u30b7\u30e5\u30fc\u30eb","screen_name":"shule517","location":"\u540d\u53e4\u5c4b\u306e\u8fd1\u304f
        \u5143\u306e\u3093\u307b\u3044\u30d1\u30fc\u30af","description":"\u540d\u53e4\u5c4b\u52c9\u5f37\u4f1a\u307e\u3068\u3081\u30b5\u30a4\u30c8\u3092\u4f5c\u308a\u307e\u3057\u305f\uff01\n\u540d\u53e4\u5c4b\u52c9\u5f37\u4f1a\u3089\u3080\u3060(https:\/\/t.co\/75FLedYlUR)\n\n\u958b\u767a\u5927\u597d\u304d\uff01\u4ee3\u8868\u4f5c\u3[...]
