---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="edfa0cf6f587a5942fa307b4acc8d8cf",
        oauth_signature="Q%2B2%2F%2Bkeg9AfcmOq0wzDo9pAnRPk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547820", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:50:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0546a5b65c8db04263edc33881153e8f
      X-Response-Time:
      - '205'
      X-Transaction:
      - 0003bdb9001c401c
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":887988029532454912,"id_str":"887988029532454912","name":"\u30c6\u30b9\u30c8","uri":"\/benkyo_dev\/lists\/list71","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list71","full_name":"@benkyo_dev\/list71","created_at":"Thu
        Jul 20 10:50:18 +0000 2017","following":false,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Thu, 20 Jul 2017 10:50:21 GMT
recorded_with: VCR 3.0.3
