---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="88ae565b0b09a949159b3c5508125316",
        oauth_signature="dXyhvXvPW98i7kofwH0Mwt%2FlOFg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1495025450", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 17 May 2017 12:50:50 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 414871c3e4aca282af21a3563699a747
      X-Response-Time:
      - '158'
      X-Transaction:
      - 005c8c95004964ab
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":85,"message":"The list failed validation: This user
        has too many lists."}]}'
  recorded_at: Wed, 17 May 2017 12:50:50 GMT
recorded_with: VCR 3.0.3
