---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="e5e7c4bbe57ab44529cc051910494054",
        oauth_signature="Dhk3WcdigUa9UrWYPuUAivxASRM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1497196501", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jun 2017 15:55:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a2794229acc3af0a2ca90eb6a6a2867e
      X-Response-Time:
      - '150'
      X-Transaction:
      - 00e0f79200436749
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":873931591587774465,"id_str":"873931591587774465","name":"\u30c6\u30b9\u30c8","uri":"\/shule517_dev\/lists\/list108","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list108","full_name":"@shule517_dev\/list108","created_at":"Sun
        Jun 11 15:55:02 +0000 2017","following":false,"user":{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff01","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":true,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Sun
        Jan 29 09:48:02 +0000 2017","favourites_count":15,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1343,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Sun, 11 Jun 2017 15:55:03 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="fa601115513c94188e805aa5fdec7157",
        oauth_signature="u4%2FT7bb2PXe9J8yzG%2Bxf%2FNfxej8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1497196503", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jun 2017 15:55:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3ea6ac1808df660735a4c3f0e67dcc29
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1497197403'
      X-Response-Time:
      - '118'
      X-Transaction:
      - '0087d26700a5d83d'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uf[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/destroy.json
    body:
      encoding: UTF-8
      string: list_id=873931591587774465&owner_id=825641644863033345
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="d81c443bbbd80cec7b6f8905b71a5150",
        oauth_signature="2kshHz5Z9rdnU%2Bw69HgYvFEgK%2B4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1497196503", oauth_token="<OAUTH_TOKEN>", oauth_versi[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=873931591587774465&owner_id=825641644863033345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="ff8e47527bf2fe03906fba8743607094",
        oauth_signature="rieC48rtaMUkU%2FjrlbUmIdVvOWU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1497196503", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jun 2017 15:55:03 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0a5693233072f3448e45e2d539767983
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1497197403'
      X-Response-Time:
      - '112'
      X-Transaction:
      - 0035046f00871ffe
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Sun, 11 Jun 2017 15:55:03 GMT
recorded_with: VCR 3.0.3
