---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="1522002b9fbfd0e0874d1c09d2eac0c9",
        oauth_signature="vd%2FtE%2BTEgfLSqLWS%2FARvT0Tvci4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500548030", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:53:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bbbde52d6d69fc0aa7551cafd8e6a415
      X-Response-Time:
      - '211'
      X-Transaction:
      - 007d162500a29b31
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":887988909900038144,"id_str":"887988909900038144","name":"\u30c6\u30b9\u30c8","uri":"\/benkyo_dev\/lists\/list31","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list31","full_name":"@benkyo_dev\/list31","created_at":"Thu
        Jul 20 10:53:48 +0000 2017","following":false,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Thu, 20 Jul 2017 10:53:50 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="88dd91a68aa7f18db9dc2ea3f61d0269",
        oauth_signature="YQjsqVEPaVp3iFbK0oWiKXqf95U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500548030", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:53:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 62723d076dab4936c5af4ffcc7a24881
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '63'
      X-Rate-Limit-Reset:
      - '1500548719'
      X-Response-Time:
      - '166'
      X-Transaction:
      - 0061d53e00eddc92
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_cou[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/destroy.json
    body:
      encoding: UTF-8
      string: list_id=887988909900038144&owner_id=878212227874004992
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="36bdb04d5040a8cf7dd318bb5d30d9ad",
        oauth_signature="tvIdwL3osc4eH3%2BmmDJCeyE45rU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500548031", oauth_token="<OAUTH_TOKEN>", oauth_version[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=887988909900038144&owner_id=878212227874004992
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="858128f0c688aa7482ae2046a4351bbc",
        oauth_signature="BFhIr5NUbqeUwN%2F9tkluVaiuVyM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500548031", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:53:49 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e414ac1b1eeb5408599870f908e78624
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '68'
      X-Rate-Limit-Reset:
      - '1500548720'
      X-Response-Time:
      - '160'
      X-Transaction:
      - 001b3b1f00ffabbb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Thu, 20 Jul 2017 10:53:52 GMT
recorded_with: VCR 3.0.3
