---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="d6290c409475ab17f6aff4a8cd8b7841",
        oauth_signature="FMtxtuBQqY4%2BVqg%2FSN9okH7llBA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038641", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 13:23:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 59fc6a2220720c540ec44973a23ffd5f
      X-Response-Time:
      - '156'
      X-Transaction:
      - 00b6d3bf00a8ddf4
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":885852377802129409,"id_str":"885852377802129409","name":"\u30c6\u30b9\u30c8","uri":"\/benkyo_dev\/lists\/list116","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list116","full_name":"@benkyo_dev\/list116","created_at":"Fri
        Jul 14 13:23:59 +0000 2017","following":false,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Fri, 14 Jul 2017 13:24:01 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="a858cf4775c7056482e0f83f3f28872a",
        oauth_signature="6Io0XuOXUAAvsc0uOPKhFRoaLig%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038641", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 13:24:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a6f06246f059040b3a8ef3eb724b5816
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '72'
      X-Rate-Limit-Reset:
      - '1500039538'
      X-Response-Time:
      - '116'
      X-Transaction:
      - 00f30de000bff9f5
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_cou[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/destroy.json
    body:
      encoding: UTF-8
      string: list_id=885852377802129409&owner_id=878212227874004992
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="6fa4a8e45d4a4836d3182d46efe3f3e5",
        oauth_signature="mh1XkuigwDvKGrNw0mY1dwQxzVE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038641", oauth_token="<OAUTH_TOKEN>", oauth_version="[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=885852377802129409&owner_id=878212227874004992
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="9879af3cff53e4aa27f516d3b33d4d53",
        oauth_signature="1SPEW8ID%2FrbSGYKMq7T30awUZvk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038642", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 13:24:00 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f90b0ad953a614d74fa790c08c5174db
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '73'
      X-Rate-Limit-Reset:
      - '1500039539'
      X-Response-Time:
      - '110'
      X-Transaction:
      - 00bf318900856a07
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Fri, 14 Jul 2017 13:24:02 GMT
recorded_with: VCR 3.0.3
