---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="ba3592d562af2c5de7ea9942c1e31fc2",
        oauth_signature="PcuuJyt6hPNEFV8fnLZMSaarFwM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494256763", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 08 May 2017 15:19:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7d8b046fd0e66b996dfdfa58979cc4f8
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '73'
      X-Rate-Limit-Reset:
      - '1494257520'
      X-Response-Time:
      - '116'
      X-Transaction:
      - 00dfc4040085ba31
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff01","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Sun
        Jan 29 09:48:02 +0000 2017","favourites_count":14,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":36,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Mon, 08 May 2017 15:19:23 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/ownerships.json?count=250&cursor=-1&user_id=825641644863033345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="1501dc304c7089e040ae2a6a6751b5de",
        oauth_signature="nbGI%2B%2BvYnHjLGHSaOEa0ZUoSREY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494256763", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 08 May 2017 15:19:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 05f8c5901884de6d42db8fdaf4aef596
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1494257521'
      X-Response-Time:
      - '301'
      X-Transaction:
      - '009a84cf003b3640'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"next_cursor":860800253619879936,"next_cursor_str":"860800253619879936","previous_cursor":0,"previous_cursor_str":"0","lists":[{"id":861191068272005121,"id_str":"861191068272005121","name":"test-20170507-120845","uri":"\/shule517_dev\/lists\/test-20170507-120845","subscriber_count":0,"member_count":0,"mode":"private","description":"\u4eca\u65e5\u306f20170507-120845\u3002
        \u30c6\u30b9\u30c8\u3060\u3088\u3002","slug":"test-20170507-120845","full_name":"@shule517_dev\/test-20170507-120845","created_at":"Sun
        May 07 12:08:45 +0000 2017","following":true,"user":{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff01","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[]}},"pr[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/ownerships.json?count=250&cursor=860800253619879936&user_id=825641644863033345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="6f6e20a531b32e41394a0bafefbaab06",
        oauth_signature="7hazM%2FD4eVBBrx0LEF7zgKsIeA4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494256764", oauth_token="<OAUTH_TOKEN>[...]
