---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="37b4a45ddbfb8264a5f1cb47c535cca0",
        oauth_signature="z%2Fq3Zix1d7FOyii0NXCIwAShdWM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038643", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 13:24:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e52691b2c4c4eae6f3882bdf03ec489f
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '70'
      X-Rate-Limit-Reset:
      - '1500039538'
      X-Response-Time:
      - '117'
      X-Transaction:
      - 0034737200e2d929
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Fri, 14 Jul 2017 13:24:03 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=1234567890&owner_id=878212227874004992
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="17bbdc2f10d55f86268d983a46c320d6",
        oauth_signature="o6518NOPnDgmTbDqJuXzX7FDcgU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038643", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 13:24:02 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1c7980c8cbbefe17df5441ca7f8236f6
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '71'
      X-Rate-Limit-Reset:
      - '1500039539'
      X-Response-Time:
      - '111'
      X-Transaction:
      - 00d0ab4d00e39a62
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Fri, 14 Jul 2017 13:24:04 GMT
recorded_with: VCR 3.0.3
