---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="079b048fa2d17b8bf52d9b3d271de6a1",
        oauth_signature="sZmCX88DgsXwNmSbP508hHsaWok%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038642", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 13:24:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a4611b1d1f45b6376d8b0a7e70ab303c
      X-Response-Time:
      - '164'
      X-Transaction:
      - 001d2f3000ba6ede
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":885852384190017537,"id_str":"885852384190017537","name":"\u30c6\u30b9\u30c8","uri":"\/benkyo_dev\/lists\/list72","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list72","full_name":"@benkyo_dev\/list72","created_at":"Fri
        Jul 14 13:24:01 +0000 2017","following":false,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Fri, 14 Jul 2017 13:24:03 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="534603d1cf7d89ec95c44279e9db60ce",
        oauth_signature="Zc091vp4ylckNufT0Tef8Sxs%2FT8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038643", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 13:24:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 875756d22e05e12fc283dfc3fb1de04c
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '71'
      X-Rate-Limit-Reset:
      - '1500039538'
      X-Response-Time:
      - '120'
      X-Transaction:
      - 00bacc4500d914d5
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_cou[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=885852384190017537&owner_id=878212227874004992
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="d7d6fc20e5c320af5755aadb7484a85e",
        oauth_signature="%2BYOF0Pl7FzYKjPtyoZLJwi54BpU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038643", oauth_token="<OAUTH_TOKEN>", oauth_versi[...]
