---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="0b8f96a437045921500cff674c78c675",
        oauth_signature="uwpJfFCIXDnXoQxKp5sTGZu0gOg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500682656", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 22 Jul 2017 00:17:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4aa168a2af068f32684d3c2e132b4769
      X-Response-Time:
      - '206'
      X-Transaction:
      - 003f6d7c009f0180
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":888553579157508096,"id_str":"888553579157508096","name":"\u30c6\u30b9\u30c8","uri":"\/benkyo_dev\/lists\/list115","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list115","full_name":"@benkyo_dev\/list115","created_at":"Sat
        Jul 22 00:17:36 +0000 2017","following":false,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Sat, 22 Jul 2017 00:17:36 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="616c475f30299928ab293c7348360f2f",
        oauth_signature="H%2FNqksU%2BsyZUhsaBHdbZ7CqN0Lk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500682656", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 22 Jul 2017 00:17:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 658be2fcf64223e6d3c3218329c6de75
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '72'
      X-Rate-Limit-Reset:
      - '1500683221'
      X-Response-Time:
      - '169'
      X-Transaction:
      - 005e4f630063fbeb
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_cou[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/members/create_all.json
    body:
      encoding: UTF-8
      string: list_id=888553579157508096&owner_id=878212227874004992&screen_name=shule517%2Cnagoya_lambda
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="00381958feecf6ca039e104f338bc6c6",
        oauth_signature="R6JlFRI85CGNMJVjoQPtFpiNpzM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="150068265[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&list_id=888553579157508096&owner_id=878212227874004992
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="bb3b03a45489576cda643ef7a158321b",
        oauth_signature="NZeHTqG044FLZ%2F5MDpdws7jBD8I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500682657", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 22 Jul 2017 00:17:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f36fea623009f742db5ff731a0add74c
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '897'
      X-Rate-Limit-Reset:
      - '1500683221'
      X-Response-Time:
      - '200'
      X-Transaction:
      - 00e67978007122fb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":803579039843614722,"id_str":"803579039843614722","name":"\u540d\u53e4\u5c4b\u52c9\u5f37\u4f1a\u3089\u3080\u3060","screen_name":"nagoya_lambda","location":"\u540d\u53e4\u5c4b","description":"\u660e\u65e5\u958b\u304b\u308c\u308b\u540d\u53e4\u5c4b\u306e\u52c9\u5f37\u4f1a\u60c5\u5831\u3092
        \u6bce\u65e5\u304a\u663c12:00\u306b\u30c4\u30a4\u30fc\u30c8\u3057\u307e\u3059\uff01\n\u4eca\u5f8c\u958b\u304b\u308c\u308b\u52c9\u5f37\u4f1a\u3092\u77e5\u308a\u305f\u3044\u65b9\u306f\u3053\u3061\u3089\u3078
        https:\/\/t.co\/75FLedYlUR","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[57,80]}]}},"protected":false,"followers_count":182,"friends_count":201,"listed_count":6,"created_at":"Tue
        Nov 29 12:39:07 +0000 2016","favourites_count":21,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":599,"lang":"ja","status":{"created_at":"Fri
        Jul 21 03:00:46 +0000 2017","id":888232251695259648,"id_str":"888232251695259648","text":"[\u660e\u65e5]
        2017\/7\/22(\u571f)\u306b\u958b\u50ac\u3055\u308c\u308b\u52c9\u5f37\u4f1a\u3067\u3059\uff01\nQt\u52c9\u5f37\u4f1a@NagoyaNo10\n\n\u30a4\u30d9\u30f3\u30c8\u30da\u30fc\u30b8\uff1ahttps:\/\/t.co\/4OgoEDXXfk\n\u30c4\u30a4\u30c3\u30bf\u30fc\u30ea\u30b9\u30c8\uff1ahttps:\/\/t.co\/rwMa0AfQU0\n#qtjp","truncated":false,"entities":{"hashtags":[{"text":"qtjp","indices":[113,118]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/4OgoEDXXfk","expanded_url":"https:\/\/qt-users.connpass.com\/event\/60112\/","display_url":"qt-users.connpass.com\/event\/60112\/","indices":[56,79]},{"url":"https:\/\/t.co\/rwMa0AfQU0","expanded_url":"https:\/\/twitter.com\/nagoya_lambda\/lists\/qt-nagoya-no10","display_url":"twitter.com\/nagoya_lambda\/\u2026","indices":[89,112]}]},"source":"\u003ca
        href=\"http:\/\/nagoya-benkyokai.herokuapp.com\" rel=\"nofollow\"\u003e\u540d\u53e4\u5c4b\u52c9\u5f37\u4f1a
        \u03bb\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":1,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"ja"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/808763126673850368\/wf2FsJ_-_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/808763126673850368\/wf2FsJ_-_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/803579039843614722\/1481897769","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},{"id":67637197,"id_str":"67637197","name":"\u3057\u3063\u304b\u308a\u30b7\u[...]
