---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="064b4b6aeeadc24107666dd7143e4ce7",
        oauth_signature="qhzsNfSzuw4nQ8o8uw4MiZHfNOM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547824", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:50:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4cee1951c511e72d878c9d31c305e89e
      X-Response-Time:
      - '573'
      X-Transaction:
      - 00eb46a1008879c0
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":887988046255144960,"id_str":"887988046255144960","name":"\u30c6\u30b9\u30c8","uri":"\/benkyo_dev\/lists\/list91","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list91","full_name":"@benkyo_dev\/list91","created_at":"Thu
        Jul 20 10:50:23 +0000 2017","following":false,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Thu, 20 Jul 2017 10:50:25 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="bae7e2bedaa96e6cc0cfaa067d067470",
        oauth_signature="im6s3R8P5aRhboT9LaM6uRboqqg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547825", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:50:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 785e5f40e5c540b28ea15e0c7218d5bb
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '71'
      X-Rate-Limit-Reset:
      - '1500548719'
      X-Response-Time:
      - '177'
      X-Transaction:
      - 00fa83d6007d30bb
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_cou[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=887988046255144960&owner_id=878212227874004992
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="a2436cdf5b852715a5384b38df0fcd18",
        oauth_signature="72ni9PnkFByOlMI%2BDQpG5yaQyWU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547825", oauth_token="<OAUTH_TOKEN>", oauth_versi[...]
