---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="b5984070171e4f3caa5359abd1b28a42",
        oauth_signature="55235fuspZ4fQRYkY1XhcGZvJxQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494147955", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 09:05:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e272f76c0f78a0ec54bc4bd7d0dba2cf
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '70'
      X-Rate-Limit-Reset:
      - '1494148851'
      X-Response-Time:
      - '116'
      X-Transaction:
      - 005c14ab00d55361
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff01","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Sun
        Jan 29 09:48:02 +0000 2017","favourites_count":10,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":34,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Sun, 07 May 2017 09:05:55 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=1234567890&owner_id=825641644863033345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="ec3544b36e85cb3b54da10eb2d907f31",
        oauth_signature="rz7Uze7uRImRfmJD8t8CDvbs0Ak%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494147955", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 09:05:56 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 46b94f3f998532b8ed4de868d2a06228
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '55'
      X-Rate-Limit-Reset:
      - '1494148320'
      X-Response-Time:
      - '111'
      X-Transaction:
      - '0090bb29009a3c9d'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Sun, 07 May 2017 09:05:56 GMT
recorded_with: VCR 3.0.3
