---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="9d73326c6161c198d0eea11d7d1a6944",
        oauth_signature="g7hfVumhRyp9XpNxuQ%2FXjoERnkA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494148379", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 503
      message: Service Temporarily Unavailable
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 09:13:00 GMT
      Retry-After:
      - '1'
      Status:
      - 503 Service Unavailable
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e6f4a90ffe5914bc588ad6073787dc86
      X-Response-Time:
      - '725'
      X-Transaction:
      - 000ce2b0000f0514
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Over capacity","code":130}]}'
  recorded_at: Sun, 07 May 2017 09:13:00 GMT
recorded_with: VCR 3.0.3
