---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="2b8cb943891c671721f782bd7558bcc0",
        oauth_signature="D%2BL88xmcDU%2BsZ%2FqNw1tYAL3X0W8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1497196319", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jun 2017 15:51:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 620a9d32063277e6c41df085bab0ce57
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '60'
      X-Rate-Limit-Reset:
      - '1497196454'
      X-Response-Time:
      - '117'
      X-Transaction:
      - 006bb37c0024f6ee
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff01","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":true,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Sun
        Jan 29 09:48:02 +0000 2017","favourites_count":15,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1343,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Sun, 11 Jun 2017 15:51:59 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?owner_id=825641644863033345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="df83e9caa68aa537b1366d580bfc4719",
        oauth_signature="NcjBCNKzvcjJ51rbRYvkAekwYBc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1497196319", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jun 2017 15:51:59 GMT
      Status:
      - 400 Bad Request
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b1f03f837d23fd66e37c896fdedea474
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '67'
      X-Rate-Limit-Reset:
      - '1497196455'
      X-Response-Time:
      - '109'
      X-Transaction:
      - '008b433e00c4553c'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":112,"message":"You must specify either a list ID
        or a slug and owner."}]}'
  recorded_at: Sun, 11 Jun 2017 15:51:59 GMT
recorded_with: VCR 3.0.3
