---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="4db79acbc11bb667ee0ae3b00c5f948d",
        oauth_signature="Wtn2HXRBq7%2BxK7KA0WNbxvxZtFo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1497196318", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jun 2017 15:51:58 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c5c368f31268065b1588da1547791482
      X-Response-Time:
      - '109'
      X-Transaction:
      - '0085961e0063409a'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":170,"message":"Missing required parameter: status."}]}'
  recorded_at: Sun, 11 Jun 2017 15:51:58 GMT
recorded_with: VCR 3.0.3
