---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890X
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="0edde95c8bf030c3c5493b285d2d22b7",
        oauth_signature="dYGE%2Bfqz822%2Fyx%2BVWa0K40cG0g8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500547820", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Jul 2017 10:50:18 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1fa90561d0debe312da9d750879e7f46
      X-Response-Time:
      - '185'
      X-Transaction:
      - 000c2806000794b8
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":186,"message":"Status is over 140 characters."}]}'
  recorded_at: Thu, 20 Jul 2017 10:50:20 GMT
recorded_with: VCR 3.0.3
