---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890X
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="29ffe223316c0e985750a9c6f7193915",
        oauth_signature="%2FiX2nk0D%2BuXjGIlNdkGR4Ns0uGE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1497196321", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jun 2017 15:52:02 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 94fd0948a8b5488735204ac778d9238d
      X-Response-Time:
      - '136'
      X-Transaction:
      - '009f98f000bb1ad1'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":186,"message":"Status is over 140 characters."}]}'
  recorded_at: Sun, 11 Jun 2017 15:52:02 GMT
recorded_with: VCR 3.0.3
