---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890X
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="0e341aba61727819f3075673589d79b2",
        oauth_signature="rPsiaLopw85kNFqrHjU225%2BvK0o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500038639", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 13:23:57 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 2bf0aa4d950efaa15d700300797cf9b2
      X-Response-Time:
      - '130'
      X-Transaction:
      - 005a3475002cfd36
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":186,"message":"Status is over 140 characters."}]}'
  recorded_at: Fri, 14 Jul 2017 13:23:59 GMT
recorded_with: VCR 3.0.3
