---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&mode=private&name=%E3%83%86%E3%82%B9%E3%83%88
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="efa60d00e278983c504662edeaa219e9",
        oauth_signature="HQ%2FVcIau4rXOWqZMmfTGO8W8VuE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494147951", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 09:05:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 71b3a469a66af3fb6d9d81ec7bd97c39
      X-Response-Time:
      - '166'
      X-Transaction:
      - 004e0b14007cb4bf
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":861145041007398914,"id_str":"861145041007398914","name":"\u30c6\u30b9\u30c8","uri":"\/shule517_dev\/lists\/list241","subscriber_count":0,"member_count":0,"mode":"private","description":"\u8a73\u7d30\u8aac\u660e\u3060\u3088","slug":"list241","full_name":"@shule517_dev\/list241","created_at":"Sun
        May 07 09:05:51 +0000 2017","following":false,"user":{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff01","url":"https:\/\/t.co\/75FLedYlUR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/75FLedYlUR","expanded_url":"http:\/\/nagoya-benkyokai.com","display_url":"nagoya-benkyokai.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Sun
        Jan 29 09:48:02 +0000 2017","favourites_count":10,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":34,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/825642834816487425\/8Hl3jym8_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Sun, 07 May 2017 09:05:51 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="1bc17e787a5e92626086a434daae39ca",
        oauth_signature="cyse9Tx%2BjcxyhQo4I3HRpqV3nHw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1494147951", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 07 May 2017 09:05:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fda2e92ad4130cee8c8d1ff6b3c5e90d
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1494148851'
      X-Response-Time:
      - '116'
      X-Transaction:
      - 00f252d600e21e47
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":825641644863033345,"id_str":"825641644863033345","name":"\u30b7\u30e5\u30fc\u30eb(\u958b\u767a\u7528)","screen_name":"shule517_dev","location":"\u306a\u3054\u3084","description":"@shule517\u306e\u958b\u767a\u7528\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\uff0[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/update.json
    body:
      encoding: UTF-8
      string: description=%E6%9B%B4%E6%96%B0%3A%E8%A9%B3%E7%B4%B0%E8%AA%AC%E6%98%8E%E3%81%A0%E3%82%88&list_id=861145041007398914&mode=private&name=%E6%9B%B4%E6%96%B0%E3%83%86%E3%82%B9%E3%83%88&owner_id=825641644863033345
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="3b81bbea79148484d47fca133c9ade54",
        oauth_signature="[...]
