.cal-heatmap-container {
  @include media($tablet) {
    margin: auto;
  }


  .graph-label {
    font-size: 1.5rem;
  }

  .subdomain-text {
    font-size: 10px;
  }

  .q1,
  .q2,
  .q3,
  .q4,
  .q5 {
    ~ .subdomain-text {
      fill: #fff;
      font-weight: bold;
    }
  }
}
