---
http_interactions:
- request:
    method: get
    uri: https://api.doorkeeper.jp/events/47375
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit:
      - '{"name":"authenticated API","period":300,"limit":300,"remaining":298,"until":"2017-05-21T03:50:00Z"}'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 21 May 2017 03:46:39 GMT
recorded_with: VCR 3.0.3
