---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="fc0f11d354a082ded8673e8a0e8ca868",
        oauth_signature="6v%2Fd5hBmiOJPiZ6gpfpbk04GN8g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508248286", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 13:51:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8741051545e816c59af178987820588a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '4'
      X-Rate-Limit-Reset:
      - '1508249133'
      X-Response-Time:
      - '118'
      X-Transaction:
      - 00e8b17100beaeba
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Tue, 17 Oct 2017 13:51:26 GMT
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=2016%2F5%2F15%28%E6%97%A5%29+JXUGC+%2314+Xamarin+%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3+%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%A4%A7%E4%BC%9A+https%3A%2F%2Fjxug.connpass.com%2Fevent%2F30152%2F&mode=private&name=JXUGC+%2314+Xamarin+%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="3ed0c14ae694024c8695cc1ed58e9b3c",
        oauth_signature="%2FfjQGj7WoQjpQtOS%2Boqh84Xs%2B4A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508248287", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 13:51:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c5b9efca67171dde99b6b193840ea53d
      X-Response-Time:
      - '139'
      X-Transaction:
      - 00ce3539000c2197
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":920286137180078081,"id_str":"920286137180078081","name":"JXUGC
        #14 Xamarin \u30cf\u30f3\u30ba\u30aa\u30f3","uri":"\/benkyo_dev\/lists\/jxugc-14-xamarin","subscriber_count":0,"member_count":0,"mode":"private","description":"2016\/5\/15(\u65e5)
        JXUGC #14 Xamarin \u30cf\u30f3\u30ba\u30aa\u30f3 \u540d\u53e4\u5c4b\u5927\u4f1a
        https:\/\/jxug.connpass.com\/event\/30152\/","slug":"jxugc-14-xamarin","full_name":"@benkyo_dev\/jxugc-14-xamarin","created_at":"Tue
        Oct 17 13:51:27 +0000 2017","following":false,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":16,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}'
  recorded_at: Tue, 17 Oct 2017 13:51:27 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&owner_screen_name=benkyo_dev&slug=jxugc-14-xamarin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="c9492431b4fa3e2aa10579471d06bd9c",
        oauth_signature="3%2F8XL4hZfTvDT41DUtyAYji3B4A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508248288", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 13:51:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9fc1bb247a523fe6fd575f129c249047
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1508249136'
      X-Response-Time:
      - '118'
      X-Transaction:
      - '0074817500afa228'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Tue, 17 Oct 2017 13:51:28 GMT
[...]
