---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="50aa679a18bcf237c42f56f9184cb2d2",
        oauth_signature="oApp0SZKx4Oc0FhMqFUr%2B2W3HjM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508249580", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 14:13:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 513126a7968183919e839ff4f8bab96e
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '6'
      X-Rate-Limit-Reset:
      - '1508250113'
      X-Response-Time:
      - '171'
      X-Transaction:
      - '008b73b8004a35a2'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":920290462417633280,"id_str":"920290462417633280","name":"JXUGC
        #14 Xamarin \u30cf\u30f3\u30ba\u30aa\u30f3","uri":"\/benkyo_dev\/lists\/jxugc-14-xamarin","subscriber_count":0,"member_count":0,"mode":"private","description":"2016\/5\/15(\u65e5)
        JXUGC #14 Xamarin \u30cf\u30f3\u30ba\u30aa\u30f3 \u540d\u53e4\u5c4b\u5927\u4f1a
        https:\/\/jxug.connpass.com\/event\/30152\/","slug":"jxugc-14-xamarin","full_name":"@benkyo_dev\/jxugc-14-xamarin","created_at":"Tue
        Oct 17 14:08:39 +0000 2017","following":true,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":16,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}]'
  recorded_at: Tue, 17 Oct 2017 14:13:01 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="648f0f69671acaabf5de21a35511b0f7",
        oauth_signature="OITpDDqr3b7hMrX9JVZZ%2FCqM0m4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508249581", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
 [...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/destroy.json
    body:
      encoding: UTF-8
      string: list_id=920290462417633280&owner_id=878212227874004992
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="71def940545a75bc52f3b308a36036b8",
        oauth_signature="Wx44sRlddyQfHdeoORFP9R22UFM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508249581", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 14:13:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fd8415c865c546d47fc7ae02dbc22603
      X-Response-Time:
      - '154'
      X-Transaction:
      - 0001da9200122b11
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":920290462417633280,"id_str":"920290462417633280","name":"JXUGC
        #14 Xamarin \u30cf\u30f3\u30ba\u30aa\u30f3","uri":"\/benkyo_dev\/lists\/jxugc-14-xamarin","subscriber_count":0,"member_count":0,"mode":"private","description":"2016\/5\/15(\u65e5)
        JXUGC #14 Xamarin \u30cf\u30f3\u30ba\u30aa\u30f3 \u540d\u53e4\u5c4b\u5927\u4f1a
        https:\/\/jxug.connpass.co[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=2016%2F5%2F15%28%E6%97%A5%29+JXUGC+%2314+Xamarin+%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3+%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%A4%A7%E4%BC%9A+https%3A%2F%2Fjxug.connpass.com%2Fevent%2F30152%2F&mode=private&name=JXUGC+%2314+Xamarin+%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&owner_screen_name=benkyo_dev&slug=jxugc-14-xamarin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="f8b5f033432cb27ac20524ca0d8d3fef",
        oauth_signature="YT5hPsaePpRrZX0Nz0RGYi9vVC0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508249583", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 14:13:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b4a6d7bd6727c22644ace51b5145ecb7
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1508250115'
      X-Response-Time:
      - '120'
      X-Transaction:
      - 00b1ae6800747885
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Tue, 17 Oct 2017 14:13:03 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?owner_screen_name=benkyo_dev&slug=jxugc-14-xamarin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="5a8d2a52b8c1b1e9adb1b370e0754c71",
        oauth_signature="hsFxdHWFvq8jOxS54oo6tPwbZe0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508249584", oauth_token="<OAUTH_TOKEN>", oauth_version="1.[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/update.json
    body:
      encoding: UTF-8
      string: description=2016%2F5%2F15%28%E6%97%A5%29+JXUGC+%2314+Xamarin+%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3+%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%A4%A7%E4%BC%9A+https%3A%2F%2Fjxug.connpass.com%2Fevent%2F30152%2F&mode=private&name=JXUGC+%2314+Xamarin+%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3&owner_screen_name=benkyo_dev&slug=jxugc-14-xamarin
    headers:
      Authorization[...]
[...]
