---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/list.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="d9bec531625e92f1079ca788f0e74fda",
        oauth_signature="wWcejny3bt0u88ppX6368LMkhrY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508250640", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 14:30:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 52b24b098f8b5adfc19a8d703f1c4847
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '4'
      X-Rate-Limit-Reset:
      - '1508251182'
      X-Response-Time:
      - '163'
      X-Transaction:
      - 00e2f19900503414
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":920295743239307265,"id_str":"920295743239307265","name":"title
        changed","uri":"\/benkyo_dev\/lists\/title-changed","subscriber_count":0,"member_count":0,"mode":"private","description":"2016\/5\/15(\u65e5)
        title changed https:\/\/jxug.connpass.com\/event\/30152\/","slug":"title-changed","full_name":"@benkyo_dev\/title-changed","created_at":"Tue
        Oct 17 14:29:38 +0000 2017","following":true,"user":{"id":878212227874004992,"id_str":"878212227874004992","name":"\u3079\u3093\u304d\u3087\u3046\u304b\u3044\u3066\u3059\u3068","screen_name":"benkyo_dev","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Fri
        Jun 23 11:24:46 +0000 2017","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":16,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}]'
  recorded_at: Tue, 17 Oct 2017 14:30:41 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="6f148830f50efca18d04e00d40a4c2ed",
        oauth_signature="WCO6GpYobX31F9x4K8iDtySpoEI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508250641", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
   [...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/destroy.json
    body:
      encoding: UTF-8
      string: list_id=920295743239307265&owner_id=878212227874004992
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="272e79ed74a9e804aec1959b5720ce2a",
        oauth_signature="updn5ACXgCkXZ7ICI%2FYsMc8F%2BkI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508250641", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 14:30:41 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - d922c29d8bb788681e442cca8ccb0dcf
      X-Response-Time:
      - '153'
      X-Transaction:
      - '0048cf9a006b686f'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":920295743239307265,"id_str":"920295743239307265","name":"title
        changed","uri":"\/benkyo_dev\/lists\/title-changed","subscriber_count":0,"member_count":0,"mode":"private","description":"2016\/5\/15(\u65e5)
        title changed https:\/\/jxug.connpass.com\/event\/30152\/","slug":"title-changed","full_name":"@benkyo_dev\/title-changed","created_at":"Tue
        Oct[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/create.json
    body:
      encoding: UTF-8
      string: description=2016%2F5%2F15%28%E6%97%A5%29+JXUGC+%2314+Xamarin+%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3+%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%A4%A7%E4%BC%9A+https%3A%2F%2Fjxug.connpass.com%2Fevent%2F30152%2F&mode=private&name=JXUGC+%2314+Xamarin+%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&owner_screen_name=benkyo_dev&slug=jxugc-14-xamarin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="7ded276f185c345ac3365cbf378aafb2",
        oauth_signature="%2Fex8lq%2F8wmZlZpM4WxAOHqymDao%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508250642", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 14:30:43 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 78aec2fb5b35906e6f1aaff56cad634d
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '895'
      X-Rate-Limit-Reset:
      - '1508251184'
      X-Response-Time:
      - '119'
      X-Transaction:
      - 00fc27da00b85ac8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Tue, 17 Oct 2017 14:30:43 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?owner_screen_name=benkyo_dev&slug=jxugc-14-xamarin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="feceebc3926c00ae2efa0de6a12cc402",
        oauth_signature="jLf8vhigmNiK6GGeP903NX45h3E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508250643", oauth_token="<OAUTH_TOKEN>", oauth_version="1.[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/lists/update.json
    body:
      encoding: UTF-8
      string: description=2016%2F5%2F15%28%E6%97%A5%29+title+changed+https%3A%2F%2Fjxug.connpass.com%2Fevent%2F30152%2F&mode=private&name=title+changed&owner_screen_name=benkyo_dev&slug=jxugc-14-xamarin
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="02298d0b267e66e6be0bb791048321a4",
        oauth_signature="VyjTe0lPSlvlORbsIJ[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&owner_screen_name=benkyo_dev&slug=title-changed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="0bbaa2a31ff0045d0ea9454aa03111e9",
        oauth_signature="kC3zNRx9TcAD1OJNn7m7wYACaqA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508250644", oauth_token="<OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Oct 2017 14:30:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b94b74735c715e80590251bfeb2e0ff8
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '894'
      X-Rate-Limit-Reset:
      - '1508251184'
      X-Response-Time:
      - '119'
      X-Transaction:
      - '0059ed7d00bbbad9'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Tue, 17 Oct 2017 14:30:44 GMT
[...]
