<footer class="footer">
  <div class="footer-content">
    <%= link_to root_path, class: 'footer-content__link' do %>
      <%= embedded_svg('svg/logo-only.svg', class: 'footer-content__svg') %>
    <% end %>
    <small class="footer-content__powerd">
      powerd by <%= link_to '@shule517', "https://twitter.com/shule517" %>
    </small>
  </div>
</footer>
