<footer id="footer">
  <div class="row">
    <div class="col-md-12">
      <hr class="style-two">
    </div>
  </div>

  <div class="text-center">
    <p>
      <a href="/">
        <%= image_tag("lambda.png", height: '20px', title: "名古屋勉強会らむだ") %>
      </a>
      powered by <a href="https://twitter.com/shule517">@shule517</a>
      |
      <a href="https://github.com/shule517/nagoya-benkyokai">GitHub</a>
    </p>
  </div>
</footer>
