<div class="global-nav">
  <div class="global-nav-logo">
    <%= link_to root_path, class: 'global-nav-logo__link' do %>
      <%= embedded_svg('svg/logo-only.svg', class: 'global-nav-logo__svg') %>
    <% end %>
  </div>
  <nav class="global-nav-content">
  </nav>
</div>
