<header class="header">
  <%= link_to root_path, class: 'header-logo' do %>
    <h1><%= embedded_svg('svg/logo.svg', class: 'header-logo__svg') %></h1>
  <% end %>
  <p class="header-description">
    名古屋勉強会らむだは名古屋の勉強会をまとめています。
  </p>
</header>
