<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>名古屋勉強会 λ</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="r-ITPX1K0IqS2uAzVaouWBti9Y1GU7T37dOKL3Dtlrw" />
    <meta name="keywords" content="名古屋勉強会,勉強会,名古屋,愛知,λ,らむだ" />
    <meta name="description" content="名古屋勉強会のイベント情報が簡単に探せます。" />
    <meta name="viewport" content="width=980, user-scalable=yes" >
    <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/808763126673850368/wf2FsJ_-_bigger.jpg" >
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <header id="header" class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <img src="https://pbs.twimg.com/profile_images/808763126673850368/wf2FsJ_-_bigger.jpg" height="40">
          <img src="https://pbs.twimg.com/media/CzAdxZRVQAEahA7.jpg" width="300">
        </div>
      </header>
      <%= yield %>
      <footer id="footer">
        名古屋勉強会 λ
      </footer>
    </div>
  </body>
</html>
