<footer id="footer">
  <div class="row">
    <div class="col-md-12">
      <hr class="style-two">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
      <center>
        <small>
          <a href="/">
            <img src="/img/lambda.png" height="20px">
          </a>
          powerd by <a href="https://twitter.com/shule517">@shule517</a>
        </small>
      </center>
      <br>
      <br>
      <br>
    </div>

    <div class="col-md-1">
    </div>
  </div>
</footer>
