<header id="header">

  <div class="row">
    <div class="col-md-10" style="margin-left: 40px">
      <a href="/">
        <%= image_tag("lambda.png", title: "名古屋勉強会らむだ", height: 40) %>
        <%= image_tag("logo.jpg", title: "名古屋勉強会らむだ", width: 300) %>
      </a>
    </div>

    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr class="style-two">
    </div>
  </div>
</header>
