<header id="header">

  <div class="row">
    <div class="col-md-10" style="margin-left: 40px">
      <a href="/">
        <img src="/img/lambda.png" height="40">
        <img src="/img/logo.jpg" width="300">
      </a>
    </div>

    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr class="style-two">
    </div>
  </div>
</header>
