<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'head' %>
  </head>
  <body>
    <%= render 'header' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'footer' %>
  </body>
</html>
