<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>名古屋勉強会らむだ</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= analytics_init if Rails.env.production? %>
    <meta name="keywords" content="名古屋勉強会,らむだ,λ,勉強会,名古屋,愛知" />
    <meta name="description" content="名古屋勉強会を探すなら 『名古屋勉強会らむだ』" />
    <meta name="viewport" content="width=980, user-scalable=yes" >
    <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/808763126673850368/wf2FsJ_-_bigger.jpg" >
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[datatoggle="tooltip"]').tooltip()
      })
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <header id="header" class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <a href="/">
            <img src="/img/lambda.png" height="40">
            <img src="/img/logo.jpg" width="300">
          </a>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-12">
          <hr class="style-two">
        </div>
      </header>
      <%= yield %>
      <footer id="footer" row="row">
        <div class="col-md-12">
          <hr class="style-two">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <center>
              <small>
                <a href="/">
                  <img src="/img/lambda.png" height="20px">
                </a>
                powerd by <a href="https://twitter.com/shule517">@shule517</a>
              </small>
            </center>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
