<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'head' %>
  </head>
  <body>
    <div class="container-fluid">
      <%= render 'header' %>
      <%= yield %>
      <%= render 'footer' %>
    </div>
  </body>
</html>
